<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="hfnusearch@forge.jelix.org" name="HfnuSearch" createdate="2009-02-08">
        <version stability="beta" date="2009-05-10">1.0.0RC1</version>
        <label lang="en_EN">HfnuSearch</label>
        <description lang="en_EN">search engine module</description>        
        <label lang="fr_FR">HfnuSearch</label>
        <description lang="fr_FR">Module de recherche</description>
        <licence URL="http://www.gnu.org/licenses/gpl.html">GNU General Public Licence</licence>
        <copyright>2008 FoxMaSk</copyright>
        <creator name="FoxMaSk" email="foxmask@havefnubb.org" active="true" />
        <homepageURL>http://www.havefnubb.org/</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=hfnusearch</updateURL>         
    </info>
    <dependencies>
        <jelix minversion="1.1.2" maxversion="1.1.2" />
    </dependencies>
</module>