<?xml version="1.0" encoding="iso-8859-1"?>
<events xmlns="http://jelix.org/ns/events/1.0">
   <listener name="authhavefnubb">
      <event name="AuthLogin" />
      <event name="AuthLogout" />
      <event name="AuthNewUser" />
      <event name="jcommunity_save_account" />
      <event name="jcommunity_check_before_save_registration"/>
   </listener>
   <listener name="hfnumenu">
      <event name="hfnuGetMenuContent" />
   </listener>
   <listener name="postStuff">
      <event name="HfnuPostAfterInsert"/>
      <event name="HfnuPostAfterUpdate"/>
      <event name="HfnuPostAfterSaveReply"/>
   </listener>
   <listener name="havefnubb">
		 <event name="masterAdminGetDashboardWidget" />
   </listener>    
</events>