<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="havefnubb@forge.jelix.org" name="HaveFnuBB!" createdate="2008-12-16">
        <version stability="beta" date="2009-05-16">1.0.0RC3</version>
        <label lang="en_EN">HaveFnuBB! The Official Module of the Bulletin Board</label>
        <description lang="en_EN">This module can manage a complet bulletin board</description>
        <label lang="fr_FR">HaveFnuBB! Le module officiel de forum</label>
        <description lang="fr_FR">Ce module permet de gérer un forum entier</description>
        <licence URL="http://www.gnu.org/licenses/gpl.html">GNU General Public Licence</licence>
        <copyright>2008 FoxMaSk</copyright>
        <creator name="FoxMaSk" email="foxmask@havefnubb.org" active="true" />
        <homepageURL>http://www.havefnubb.org/</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=havefnubb</updateURL>
    </info>
    <dependencies>
        <jelix minversion="1.1.2" maxversion="1.1.2" />
        <jcommunity minversion="0.1" maxversion="0.2" />
		<jtags minversion="0.1" maxversion="0.2" />
    </dependencies>
</module>