;<?php die(''); ?>
[main]
title="HaveFnu BB!"
description="Where Everything is Fnu"
version=1.0
rules="blabla les regles"
admin_email="foxmask@localhost.com"
url_check_version="http://www.havefnubb.org/last_version"
avatar_max_width=60
avatar_max_height=75
installed=0

[messages]
posts_per_page=10
replies_per_page=10
members_per_page=25
stats_nb_of_lastpost=3
post_max_size=1000




















