/**
* @package   havefnubb
* @subpackage havefnubb
* @author    FoxMaSk
* @copyright 2008 FoxMaSk
* @link      http://forge.jelix.org/projects/havefnubb
* @licence  http://www.gnu.org/licenses/lgpl.html GNU Lesser General Public Licence, see LICENCE file
*/


/* search page */
#result {
    padding-top:1px;
    padding-bottom:1px;
    padding-left: 20px;
}

#result .result-author {
	color: #f90;	
}

#result .result-date {
	color: #f90;	
}

#result .result-msg {
	color: #666;
}

.result-line {
    background-color: #eee;
}