.DS_Store
Thumbs.db
src/cache/*
!src/cache/images/.empty
src/files/*
!src/files/.empty
!src/files/.htaccess
src/havefnubb/composer.lock
src/havefnubb/temp/havefnubb/*
!src/havefnubb/temp/havefnubb/.dummy
src/havefnubb/var/config/installer.ini.php
src/havefnubb/var/config/installer.bak.ini.php
src/havefnubb/var/config/profiles.ini.php
src/havefnubb/var/config/localconfig.ini.php
src/havefnubb/var/config/localurls.xml
src/havefnubb/var/config/liveconfig.ini.php
src/havefnubb/var/db
!src/havefnubb/var/db/sqlite/.empty
src/havefnubb/var/feeds
!src/havefnubb/var/feeds/.empty
src/havefnubb/var/log
!src/havefnubb/var/log/.empty
src/havefnubb/var/mails
!src/havefnubb/var/mails/.empty
src/havefnubb/var/sessions
!src/havefnubb/var/sessions/.empty
src/havefnubb/var/uploads
!src/havefnubb/var/uploads/.empty
src/havefnubb/vendor/
*.komodoproject
nbproject
.idea
_dist
