.DS_Store
Thumbs.db
havefnubb/var/config/installer.ini.php
havefnubb/var/config/dbprofils.ini.php
havefnubb/var/config/defaultconfig.ini.php
havefnubb/var/config/activeusers.coord.ini.php
havefnubb/var/log
temp/havefnubb/*
cache/*
*.komodoproject
nbproject/
