/* tableaux */
table.hfnucal {
}
table.minihfnucal {
	float: left;
	width: 49%;
}
table.minihfnucal caption {
}

/* bloc de texte */
div#infos_cal {
	float: right;
	width: 60%;
	margin-top: 1em;
}
div#infos_cal h3 {
	margin-top: 1em;
}

/* cellules */
table.hfnucal td {
	height: 75px;
	width: 14%;
	vertical-align: top;
}
table.hfnucal td.inactive {
	background: #ddd;
}
table.hfnucal td.past {
	color: #ccc;
}
table.hfnucal td.today {
	background: #fff;
}
table.hfnucal td.active {
	border: 1px solid #c00;
}

/* liens */
table.hfnucal td.past a {
	color: #ccc;
}
table.hfnucal td.today a {}
table.hfnucal td.active a {}

/* numero jour */
table.hfnucal td p.daynumber {}

/* liste événement dans cellules */
table.hfnucal td ul.eventlist {
	font-size: 0.9em;
}
table.hfnucal td ul.eventlist li {
	list-style: square inside
}
