/* Tab */

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav {
    height:28px;
    display:block;
    font-weight: bold;
}
.ui-tabs-nav li {
    padding-left: 20px;
}
