;<?php die(''); ?>
;for security reasons , don't remove or modify the first line

; Define here options of mainconfig.ini.php you want to modify for your installation

theme=default


[mailer]
webmasterEmail="webmaster@domain.com"
webmasterName=webmaster
; how to send mail : "mail" (mail()), "sendmail" (call sendmail), or "smtp" (send directly to a smtp)
mailerType=mail
; Sets the hostname to use in Message-Id and Received headers
; and as default HELO string. If empty, the value returned
; by SERVER_NAME is used or 'localhost.localdomain'.
hostname=
sendmailPath="/usr/sbin/sendmail"

; if mailer = smtp , fill the following parameters

; SMTP hosts.  All hosts must be separated by a semicolon : "smtp1.example.com:25;smtp2.example.com"
smtpHost=localhost
; default SMTP server port
smtpPort=
; SMTP HELO of the message (Default is hostname)
smtpHelo=
; SMTP authentication
smtpAuth=off
smtpUsername=
smtpPassword=
; SMTP server timeout in seconds
smtpTimeout=10


[havefnubb]
title="HaveFnuBB!"
description="Where Everything is Fnu"
rules=
admin_email="admin@localhost.net"
url_check_version="https://havefnubb.jelix.org/last_version"
avatar_max_width=60
avatar_max_height=75
important_nb_views=100
important_nb_replies=100
posts_per_page=10
replies_per_page=10
members_per_page=25
stats_nb_of_lastpost=3
post_max_size=0
; if the hfnuadmin module is in an other web site or application, set its url here
admin_url=
keywords=Forum, Community, PHP5, Jelix


[hfnucontact]
to_contact=
email_contact=



