.container_16 {
    background-color: #fff;
}
.heading {
  background: #666;
}

/* boxes
----------------------------------------------- */
.box {
    background:#ddd;
    margin-bottom:20px;
    padding:10px 10px 1px 10px;
}
.box h3 {
    font-size:1em;
    font-weight:normal;
    text-transform:uppercase;
    color:#fff;
    background:#333;
    margin:0;
    padding:6px 12px;
}
.box h3 a,
.box h3 a.visible {
    color:#fff;
    background:#333;
    display:block;
    padding:6px 12px;
    margin:-6px -12px;
    border:none;
}
.grid_4 .box h3 a {
    background-position: 97% 50%;
}
.grid_5 .box h3 a {
    background-position: 98% 50%;
}
.grid_12 .box h3 a {
    background-position: 99% 50%;
}

.box h3 a:hover {
    background-color:#fff;
    color:#111;
}

.box h4 {
    background-color:#eee;
}

.box-content {
    margin-top:10px;
}
div.menu {
    padding:0;
}
div.menu h2 {
    margin:0;
}
div.menu .box-content {
    padding-top:0;
}

/* forms
----------------------------------------------- */
fieldset p label {
    width:98%;
}
fieldset p input {
    width:98%;
}
fieldset p select {
    width:99%;
}

form p.notice {
    font-weight:bold;
}
input.search.text {
    width:66%;
}
input.search.button {
    width:28%;
    margin-left:2%;
}


.form_row {
    border-bottom: 1px solid #E1E1D5;
    padding: 10px 0;
}
.form_property, .form_value {float: left;}
.form_property {
    font-size: 1.1em;
    text-align: right;
    width: 180px;
}
.form_value {padding-left: 24px;}
.form_row_submit .form_value {padding-left: 132px;}

/* posts head */
.postheading {
    border-bottom: 1px solid #fff;
}
.postheading-tags li {
    list-style: none;
    display:inline;
    padding-left:15px;
    list-style-type:none;
    list-style-position:outside;
    background-image: url("../images/posts/tag_green.png");
    background-color: transparent;
    background-repeat: no-repeat;
}
/* posts  body */
.post-author ul {
    margin: 0;
    padding: 0 0 0.5em 0;
    list-style: none;
}

.postbody {
    word-wrap: break-word;
}
.postbody ul li {
    list-style-type: circle;
}

.postbody ol li {
    list-style-type:  decimal;
}

.postbody  pre {
    border-left: 3px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left-color: #f5f5f5;
    border-top-color: #f5f5f5;
    border-bottom-color: #eee;
    border-right-color: #eee;
    margin-right: 10px;
    background-color: #bbb;
    word-wrap: break-word;
}

.postbody dl dt {
    font-weight: bold;
}

.postbody dl dd {
    font-family: cursive;
    font-style: italic;
}

.postbody  acronym {
    border-bottom-style: groove;
}

.postbody code {
    font-family: monospace;
    background-color: #f5f5f5;
}

/* forum status */

.forumicone, .forumiconenew {
    text-align: center;
    padding: 5px;
    width: 3%;
    background-position: center;
}
.forumicone {
    background-image: url("../images/posts/folder.png");
    background-repeat: no-repeat;
}
.forumiconenew {
    background-image: url("../images/posts/folder_new.png");
    background-repeat: no-repeat;
}




#markasread {
    text-align: right;
    list-style-type: none;
}



.breadcrumb li {
    display:inline;
    list-style-type:none;

}

ol.history {
    list-style: none;
    background-color: #ddd;
}



#login-status h2 {
    color: #fff;
}

#login-status {
    background: #666;
    color: #000;

}
    #login-status li {
        display:inline;
        padding:1px;
        list-style-type:none;
        list-style-position:outside;
    }

    #login-status a {
        color: #fff;
    }
    #login-status a:hover {
        color: #fff;
        background:#000;
    }
