/*  ------ design of the main layout for all pages --------- */

body {
    background: #eee;
    border-top: 5px solid #000;
    color: #333;
    font-size: 11px;
    font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

hr {
    border-color: #ccc;
}

a {
    color: #000;
    font-weight:bold;
    text-decoration: none;
}
a:hover {
    color:#a3a6ab;
}
a:active {
    color:#000;
    background-color:#fff;
}

h1 a {
    font-weight:normal;
}

h1 a:hover {
    color:#fff;
}



/* navigation */

ul.nav {
  background:#666;
}
ul.nav li a {
    color:#fff;
    background:#666;
    font-weight:bold;
    text-decoration:none;
    border:0;
}
ul.nav li ul li a {
    font-weight:normal;
    color:#fff;
    border-top:1px solid #444;
    background:#444;
}

ul.nav li:hover a,
ul.nav li a:hover,
ul.nav li a:focus {color:#fff; background:#666;}
ul.nav li a:active {color:#666; background:#fff;}
ul.nav li ul,
ul.nav li {background:#ccc !important; border-top:0;}
ul.nav li ul li a:hover { color:#fff; background:#555;}
ul.nav li:hover a { color:#fff; background:#555;}
ul.nav li:hover ul li a {color:#fff;}
ul.nav li:hover ul li a:hover {color:#fff; background:#444;}
ul.nav li:hover a:active {background:#444;}
ul.nav li:hover ul li a:active {color:#fff; background:#222;}

ul.nav li.current a {color:#666; background:#fff; cursor:default; font-weight:bold;}
ul.nav li.current ul,
ul.nav li.current {background:#ccc !important}
ul.nav li.current ul li a {color:#444; background:#ccc; font-weight:normal;}
ul.nav li.current ul li a:hover {color:#000; background:#fff;}
ul.nav li ul li.current a,
ul.nav li ul li.current a:hover,
ul.nav li.current:hover ul li a:active {color:#666; background:#fff;}


#login-status h2 {
    text-transform: uppercase;
}

#footer {
    color:#ccc;
    background:#666;
}
#footer a {
    color:#fff;
}
#footer a:hover {
    color:#000;
}
