/* defines design of pages and zones specific to hfnu modules */


table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    margin-bottom:10px;
}
th, td {
    padding:.2em 1em;
    text-align:left;
}

fieldset {
    padding:15px;
    position:relative;
    border:1px solid #bbb;
    margin-bottom:10px;
}
legend {
    font-size:1.1em;
    padding:.4em .8em;
    border:1px solid #bbb;
}

p {
    margin:1em 0;
}
blockquote {
    font-family: Georgia, 'Times New Roman', serif;
    font-size:1.2em;
    padding-left:1em;
    border-left:4px solid #ccc;
}
blockquote cite {
    font-size:.9em;
}
ul, ol {
    padding-top:0;
}


hr, div.clear {
	clear:both;
}

hr {
    border: 1px solid black;
    height: 0;
}


/* breadcrumb */

.breadcrumb ol,
ol.history { list-style: none; }
.breadcrumb ol li,
ol.history li {display:inline;}
ol.history li a:hover{ }


/* buttons and forms */

.buttons-bar{
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
}
.postfoot.buttons-bar{
    text-align: right;
}

.buttons-bar a,
.jforms-submit,
.submit,
.jforms-reset {
    border:1px solid #333;
    text-decoration: none;
    background-color:#333;
    color:#fff;
    padding: 2px;
    cursor: pointer;
}

.buttons-bar a:hover,
.jforms-submit:hover,
.submit:hover,
.jforms-reset:hover {
    background-color:#000;
    border:1px solid #000;
}

.buttons-bar a:active:hover,
.jforms-submit:active:hover,
.submit:active:hover,
.jforms-reset:active:hover {
    background-color:#000;
    border:1px solid #000;
}

.buttons-bar a:active,
.jforms-submit:active,
.submit:active,
.jforms-reset:active {
    position:relative;
    top: 1px;
    left: 1px;
}

fieldset p label { width:98%;}
fieldset p input { width:98%;}
fieldset p select { width:99%;}

form p.notice { font-weight:bold; }

input.search.text { width:66%; }
input.search.button { width:28%; margin-left:2%;}

.form_row {
    border-bottom: 1px solid #E1E1D5;
    padding: 10px 0;
    clear:both;
}
.form_property, .form_value {float: left;}
.form_property {
    font-size: 1.1em;
    text-align: right;
    width: 180px;
}
.form_value {padding-left: 24px;}
.form_row_submit .form_value {padding-left: 132px;}



/* page links list */
.pager-posts { text-align: right; }
.pager-posts ul,
.pagelinks li { list-style: none; display:inline; }


/*  box layout */
.box {
    background:#ddd;
    margin-bottom:20px;
    padding:10px 10px 1px 10px;
}
.box h3 {
    font-size:1em;
    font-weight:normal;
    text-transform:uppercase;
    color:#fff;
    background:#333;
    margin:0;
    padding:6px 12px;
}
.box h3 a,
.box h3 a.visible {
    color:#fff;
    background:#333;
    display:block;
    padding:6px 12px;
    margin:-6px -12px;
    border:none;
}
.box h3 a:hover {
    background-color:#fff;
    color:#111;
}

.box h4 {
    background-color:#eee;
}

.box-content {
    margin-top:10px;
}

div.menu {
    padding:0;
}
div.menu h2 {
    margin:0;
}
div.menu .box-content {
    padding-top:0;
}



/* ================================================= post message */
#post-message {}

#post-message .jelix-msg {
    background-color:#eff4f6;
    border: 1px solid #B0C4CB;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    list-style-type:none;
    margin:0;
    padding:0;
}

#post-message .jelix-msg li {
    padding:3px 19px;
    margin:0;
}

#post-message .jelix-msg li.jelix-msg-item-warning {
    background-color: #f8e794;
    background-image: url("../images/exclamation.png");
    background-repeat: no-repeat;
}
#post-message .jelix-msg li.jelix-msg-item-error {
    background-color: #F6CAB1;
    background-image: url("../images/error.png");
    background-repeat: no-repeat;
}

#post-message .jelix-msg li.jelix-msg-item-ok,
#post-message .jelix-msg li.jelix-msg-item-notice {
    background-color: #E5F6D4;
    background-image: url("../images/information.png");
    background-repeat: no-repeat;
}


.social-network {
	float:right;
}


/* posts status */
.colicone-closed,
.colicone-opened,
.colicone-pined,
.colicone-pinedclosed,
.colicone-post-new,
.colicone-censored,
.colicone-opened_important,
.colicone-closed_important,
.colicone-pined_important,
.colicone-pinedclosed_important,
.colicone-hidden{
    text-align: center;
    padding: 5px;
    width: 4%;
    background-position: center;
    background-repeat: no-repeat;
}

.post-status-icon-opened,
.post-status-icon-closed,
.post-status-icon-pined,
.post-status-icon-pinedclosed,
.post-status-icon-censored,
.post-status-icon-hidden {
    background-position: left;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.colicone-opened,
.post-status-icon-opened {
    background-image: url("../images/posts/opened.png");
}

.colicone-post-new {
    background-image: url("../images/posts/post_new.png");
}

.colicone-closed,
.post-status-icon-closed {
    background-image: url("../images/posts/closed.png");
}

.colicone-pined,
.post-status-icon-pined {
    background-image: url("../images/posts/pined.png");
}

.colicone-pinedclosed,
.post-status-icon-pinedclosed {
    background-image: url("../images/posts/pined-closed.png");
}

.colicone-censored,
.post-status-icon-censored {
    background-image: url("../images/posts/censored.png");
    background-position: center;
}

.colicone-opened_important,
.colicone-closed_important,
.colicone-pined_important,
.colicone-pinedclosed_important {
    background-image: url("../images/posts/important.png");
    background-position: center;
}

.colicone-hidden,
.post-status-icon-hidden {
    background-image: url("../images/posts/hidden.png");
}



/* posts head */
.postheading {
    border-bottom: 1px solid #fff;
}
.postheading-tags li {
    list-style: none;
    display:inline;
    padding-left:15px;
    list-style-type:none;
    list-style-position:outside;
    background-image: url("../images/posts/tag_green.png");
    background-color: transparent;
    background-repeat: no-repeat;
}

/* posts  sidebar */
.post-sidebar {
    float: left;
    margin-bottom: 1em;
    width: 200px;
    border-right: 2px solid black;
}

.post-author {
}
.post-author ul {
    margin: 0;
    padding: 0 0 0.5em 0;
    list-style: none;
}

.post-rates {
    margin-top: 1em;
}

/* posts  body */
.postbody {
    word-wrap: break-word;
    margin-left: 210px;
}
.postbody ul li {
    list-style-type: circle;
}

.postbody ol li {
    list-style-type:  decimal;
}

.postbody  pre {
    border-left: 3px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left-color: #f5f5f5;
    border-top-color: #f5f5f5;
    border-bottom-color: #eee;
    border-right-color: #eee;
    margin-right: 10px;
    background-color: #bbb;
    word-wrap: break-word;
}

.postbody dl dt {
    font-weight: bold;
}

.postbody dl dd {
    font-family: cursive;
    font-style: italic;
}

.postbody  acronym {
    border-bottom-style: groove;
}

.postbody code {
    font-family: monospace;
    background-color: #f5f5f5;
}
/* posts footer */
.postfoot {
    padding: 0.5em;
    background-color: #666;
    margin-top:1em;
    line-height:1.2em; margin-bottom:.3em;
    clear:both;
}

/* forum status */

.forumicone, .forumiconenew {
    text-align: center;
    padding: 5px;
    width: 3%;
    background-position: center;
}
.forumicone {
    background-image: url("../images/posts/folder.png");
    background-repeat: no-repeat;
}
.forumiconenew {
    background-image: url("../images/posts/folder_new.png");
    background-repeat: no-repeat;
}



#markasread {
    text-align: right;
    list-style-type: none;
}



/* ==================================  medium boxes */

.medium-boxes {
	margin: 0.5em 0;
	clear:both;
}

.medium-boxes > div  {
	float:left;
	width: 33.3%;
}

.medium-boxes > div > div {
    margin-left:3px;
    margin-right:3px;
}

.user-currently-online li , .user-online-today li,
.bots-currently-online li , .bots-online-today li {
    display:inline;
    padding:1px;
    list-style-type:none;
    list-style-position:outside;
}

.bots-currently-online ul , .bots-online-today ul { list-style-type:none; display:inline; margin:0; padding:0;}

/* tags cloud */

#tagscloud a.tag1 { font-size: 0.9em; font-weight: 100; }
#tagscloud a.tag2 { font-size: 1.05em; font-weight: 200; }
#tagscloud a.tag3 { font-size: 1.2em; font-weight: 300; }
#tagscloud a.tag4 { font-size: 1.35em; font-weight: 400; }
#tagscloud a.tag5 { font-size: 1.5em; font-weight: 500; }
#tagscloud a.tag6 { font-size: 1.65em; font-weight: 600; }
#tagscloud a.tag7 { font-size: 1.8em; font-weight: 700; }
#tagscloud a.tag8 { font-size: 1.95em; font-weight: 800; }
#tagscloud a.tag9 { font-size: 2.1em; font-weight: 900; }
#tagscloud a.tag10 { font-size: 2.25em; font-weight: 900; }


/* ========================================  user profile */

.user-image {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    padding-top: 4px;
    min-height: 16px;
}
.user-name           { background-image: url("../images/users/user.png"); }
.user-status-online  { background-image: url("../images/users/online.png"); }
.user-status-offline { background-image: url("../images/users/offline.png"); }
.user-status         { display:none; }
.user-town      { background-image: url("../images/users/house.png"); }
.user-birthday  { background-image: url("../images/users/cake.png"); }
.user-location  { background-image: url("../images/users/world.png"); }
.user-website   { background-image: url("../images/users/world_link.png"); }
.user-email     { background-image: url("../images/users/email.png"); }
.user-email-add { background-image: url("../images/users/email_add.png"); }
.user-email-inbox { background-image: url("../images/users/email_inbox.png"); }
.user-email-outbox { background-image: url("../images/users/email_outbox.png"); }
.user-stats     { background-image: url("../images/users/chart_bar.png"); }
.user-mouse     { background-image: url("../images/users/mouse.png"); }
.user-keyboard  { background-image: url("../images/users/keyboard.png"); }
.user-connect   { background-image: url("../images/users/connect.png"); }
.user-display   { background-image: url("../images/users/display.png"); }
.user-processor { background-image: url("../images/users/computer.png"); }
.user-screen    { background-image: url("../images/users/screen.png"); }
.user-motherboard { background-image: url("../images/users/motherboard.png"); }
.user-card      { background-image: url("../images/users/computer.png"); }
.user-ram       { background-image: url("../images/users/computer.png"); }
.user-os        { background-image: url("../images/users/computer.png"); }
.user-xfire     { background-image: url("../images/users/xfire.png"); }
.user-icq       { background-image: url("../images/users/icq.gif"); }
.user-yim       { background-image: url("../images/users/yim.gif"); }
.user-aim       { background-image: url("../images/users/aim.gif"); }
.user-msn       { background-image: url("../images/users/msn.gif"); }
.user-gtalk     { background-image: url("../images/users/email_go.png"); }
.user-jabber    { background-image: url("../images/users/email_go.png"); }
.user-private-message { background-image: url("../images/users/email.png"); }
.user-general   { background-image: url("../images/users/user_suit.png"); }
.user-pref      { background-image: url("../images/users/user_pref.png"); }
.user-messenger { background-image: url("../images/users/email_go.png"); }
.user-hw        { background-image: url("../images/users/computer.png"); }
.user-language  { background-image: url("../images/users/emoticon_tongue.png"); }
.user-signature { background-image: url("../images/users/vcard.png"); }
.user-show-email { background-image: url("../images/users/eye.png"); }
.messenger-email-delete { background-image: url("../images/mail/email_delete.png");}
.messenger-email-answer { background-image: url("../images/mail/email_answer.png");}

.user-since, th.user-since {
    background-image: url("../images/users/member_since.png");
    background-repeat: no-repeat;
    background-position: left;
}

.user-rank, th.user-rank {
    background-image: url("../images/users/member_rank.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 18px;
    padding-top: 4px;
    padding-left: 20px;
}

.user-posts, th.user-posts {
    background-image: url("../images/users/member_posts.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 18px;
    height: 20px;
}
