<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jelixcache@havefnubb.org" name="jelixcache" createdate="2010-11-03">
        <version>0.2</version>
        <label lang="en_US">jelixcache</label>
        <description lang="en_US" />
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU General Public Licence, see LICENCE file</license>
        <copyright>2010 Laurent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://www.havefnubb.org/</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=jelixcache</updateURL>
    </info>
    <dependencies>
        <jelix minversion="1.4" maxversion="1.4.*"/>
    </dependencies>
</module>
