<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jelixcache@havefnubb.org" name="jelixcache" createdate="2010-11-03">
        <version date="2012-12-24">0.1.1</version>
        <label lang="en_EN">jelixcache</label>
        <description lang="en_EN" />
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU General Public Licence, see LICENCE file</license>
        <copyright>2010 Laurent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://www.havefnubb.org/</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=jelixcache</updateURL>
    </info>
    <dependencies>
        <jelix minversion="1.2RC1" maxversion="1.5.*"/>
    </dependencies>
</module>
