<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="hfnuhardware@havefnubb.org" name="hfnuhardware" createdate="2010-04-19">
        <version date="2010-11-03">1.1b1</version>
        <label lang="en_EN">Member Hardware properties</label>
        <description lang="en_EN">Add hardware properties into the member account</description>
        <label lang="fr_FR">Propriétés Hardware d'un membre</label>
        <description lang="fr_FR">Ajoute des propriétés liées à la configuration des ordinateurs dans les comptes utilisateurs</description>
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU Lesser General Public Licence, see LICENCE file</license>
        <copyright>2010 Laurentj</copyright>
        <creator name="Laurentj" email="laurent@jelix.org" active="true"/>
        <homepageURL>http://www.havefnubb.org/</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=hfnuhardware</updateURL>
    </info>
    <dependencies>
        <jelix minversion="1.1.5" maxversion="1.2.*"/>
        <module name="jcommunity" minversion="0.1" maxversion="0.2.*"/>
        <module name="havefnubb" minversion="1.3.6" maxversion="1.4.*"/>
    </dependencies>
</module>
