<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="hfnurates@havefnubb.org" name="hfnurates" createdate="2009-07-02">
        <version date="2010-11-03">1.4b1</version>
        <label lang="en_EN">HfnuRates</label>
        <description lang="en_EN">Module to rate articles,news etc...</description>
        <label lang="fr_FR">HfnuRates</label>
        <description lang="fr_FR">Module permettant de donner une note sur un sujet/article etc...</description>
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU Lesser General Public Licence, see LICENCE file</license>
        <copyright>2008 FoxMaSk</copyright>
        <creator name="FoxMaSk" email="foxmask@havefnubb.org" active="true"/>
        <homepageURL>http://www.havefnubb.org</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=hfnurates</updateURL>
    </info>
    <dependencies>
        <jelix minversion="1.1.5" maxversion="1.2.*"/>
    </dependencies>
</module>
