html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F1F1E5;
	color: #000;
	font-size: 80%;
	line-height: 160%;
	font-family: Verdana, helvetica, "Bitstream Vera Sans", sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; margin: 0.83em 0; }
h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.67em; margin: 2.33em 0; }

h2, h3, h4, h5, h6 { color: #060; }

a:link, a:visited, a:active { 
	color: #060; 
	text-decoration: underline;
}
a:hover { 
	color: #f90; 
	text-decoration: none;
}

a.imglink:link, a.imglink:visited, 
a.imglink:active, a.imglink:hover { text-decoration: none; }


p { margin: 1em 0; }
table p { margin: 0; }
img { border: none; }
form { display: block; margin: 0; padding: 0; }

code, pre {
	font-family: monaco, "Courier New", monospace;
	font-size: 1.1em;
	color: #666;
}

/* En-tête
----------------------------------------------------------*/
#top {
	position: relative;
	margin: 0 0 1em 0;
	height: 100px;
	color: #232320;
	background: #F1F1E5;
}

#top h1 {
	margin: 0;
	padding: 20px 0 0 85px;
	height: 80px;
}
#top h1 span {
	display: block;
	font-size: 0.7em;
	color: #060;
}

legend span .edit {
	background: transparent url('../../../images/others/edit.png') no-repeat 0 0;
	margin: 0;
	padding: 0 0 0 20px;
	color: #060;
	border: none;	
}

.messagebox, .warningbox, .errorbox {
	padding: 0.3em;
	margin-bottom: 1em;
	background-color: #fff;
	clear: left;
}
.messagebox p, .errorbox p,
.warningbox p, .warningbox p, 
.messagebox ul, .errorbox ul {
	margin: 0;
}
.messagebox {
	border: 1px solid #390;
	color: #063;
}
#content .messagebox h2 {
	background: transparent url('../../../images/others/ok.png') no-repeat 0 0;
	margin: 0;
	padding: 0 0 0 20px;
	color: #060;
	font-size: 1.17em;
	border: none;
}
.warningbox {
	border: 1px solid #f60;
	color: #f60
}
#content .warningbox h2 {
	background: transparent url('../../../images/others/check_wrn.png') no-repeat 0 0;
	margin: 0;
	padding: 0 0 0 20px;
	color: #f60;
	font-size: 1.17em;
	border: none;
}
.errorbox {
	border: 1px solid #c00;
	color: #c00;
}
#content .errorbox h2 {
	background: transparent url('../../../images/others/ko.png') no-repeat 0 0;
	margin: 0;
	padding: 0 0 0 20px;
	font-size: 1.17em;
	color: #c00;
	border: none;
}

#prelude {
	position: absolute;
	top: 0;
	right: 10px;
}
#prelude p {
	margin: 0;
	padding: 0;
}
#prelude p#accesslinks {
	font-size: 0.9em;
	color: #004E27;
	margin-bottom: 10px;
	text-align: right;
}
#prelude p#accesslinks a {
	color: #004E27;
}
#prelude p#headlinks {
	padding: 5px;
	background-color: #f1f1f1;
	border: 1px solid #f90;
}
#prelude p#headlinks a:link, #prelude p#headlinks a:visited, 
#prelude p#headlinks a:active, #prelude p#headlinks a:hover{
	text-decoration: none;
	padding: 2px 0 2px 20px;
	font-weight: bold;
}

#prelude p#headlinks a#backportal {
	background: transparent url('../../../images/others/ico_back_portal.png') no-repeat 0 2px;
}
#prelude p#headlinks a#logout {
	background: transparent url('../../../images/others/ico_logout.png') no-repeat 0 2px;
}

/* Layout
----------------------------------------------------------*/
#contener {
	background-color: #fff;
}
#page {
	width: 100%;
	float: right;
	margin-left: -17em;
	background-color: #fff;
}
#content {
	margin-left: 17em;
	padding: 0 1ex;
}

/* Sidebar
----------------------------------------------------------*/
#sidebar {
	width: 16em;
	float: left;
}
#sidebar h2 {
	background: #F1F1E5 url('../../../images/others/bg_sidebar_top_box.png') repeat-y 100% 0;
	color: #232320;
	margin: 0 0 0 10px;
	padding: 0.2em;
	font-weight: normal;
	font-size: 1.3em;
	border-top: 1px solid #ffffff;
}
#sidebar h2 a:link, #sidebar h2 a:visited,
#sidebar h2 a:hover, #sidebar h2 a:active {
	color: #fff;
}
#sidebar div {
	margin: 0 0 0 10px;
	padding: 0.5em;
	border: 1px solid #F1F1E5;
	background-color: #fff;
}
#sidebar div ul {
	margin: 0 0 0 1em;
	padding: 0;
	list-style-type: square;
	color: #060;
}
#sidebar li.actif {
	font-weight: bold;
}
#sidebar a:link, #sidebar a:visited,
#sidebar a:hover, #sidebar a:active {
	text-decoration: none;
}

/* Contenu
----------------------------------------------------------*/
.first {
	margin-top: 0;
}

#content h2 {
	border-bottom: 1px solid #f90;
	padding-bottom: 3px;
	border-left: 2px solid #f90;
	padding-left: 5px;
	width: 60%;
}

#content h3 {
	border-bottom: 1px solid #f90;
	padding-bottom: 3px;
	border-left: 1px solid #f90;
	padding-left: 5px;
	width: 40%;
}

#content h2.table-title,
#content h3.table-title {
	margin: 0;
	padding: 0;
	border: none;
	width: auto;
	font-size: 1em;
}

#content img.icon { vertical-align: middle; }

dd {
	margin: 0 0 5px 14em; 
	padding: 3px;
}
dt {
	float: left; 
	width: 13em; 
	padding: 3px; 
	font-weight: bold;
}
dl {
	padding: 5px 0 10px 5px;
}

/* Formulaires
----------------------------------------------------------*/
fieldset {
	margin: 1em 0;
	padding: 0 0.8em;
	border: 1px solid #ccc;
}
legend { color: #063; }

p.field { margin: 1.2em 0; }

p.field label, 
span.fakelabel {
	display: block;
	font-weight: bold;
}

.inline {
	float: left;
	margin-right: 1em;
}
.headline {
	float: left;
	width: 16em;
}

input, textarea, select {
	font-family: Verdana, helvetica, "Bitstream Vera Sans", sans-serif;
	font-size: 1em;
	border: 1px solid #e7e7d9;
	padding: 0.2em;
	background-color: #e7e7d9;
	font-weight: normal;
}
select {
	padding: 0;
}

.desc {
	font-size: 0.9em;
}
span.desc {
	display: block;
}
.warn {
	color: #FF0000;
	margin: -1em 0 0 0;
	padding: 0;
}

input.jforms-submit {
	padding : 2px 5px;
	background: #4D5431 url('../../../images/others/bg_buton.png') repeat-x 0 100%;
	color: #fff;
	border: none;
	cursor: pointer;
}
input.jforms-submit:hover {
	background: #fc3 url('../../../images/others/bg_buton_hover.png') repeat-x 0 100%;
	color: #333;
}

.area textarea {
	display : block;
	width : 100%;
}


/* One Download 
----------------------------------------------------------*/
#downloadit {
	border: 1px dashed #ccc;
	padding: 0.5em;
	background-color: #f9f9f9;
	color: #333;	
}
#downloadit h3 {
	margin: 0;
	padding: 0;
	color: #333;
	border: none;
}

/* Preview
----------------------------------------------------------*/
#previewbox {
	border: 1px dashed #ccc;
	padding: 0.5em;
	background-color: #f9f9f9;
	color: #333;
}
#previewbox h3 {
	margin: 0;
	padding: 0;
	color: #333;
	border: none;
}

/* Pied de page
----------------------------------------------------------*/
#footer {
	margin: 1em 0 0 0;
	background: #F1F1E5 url('../../../images/others/bg_footer.png') repeat-x 0 0;
	border-top: 1px solid #ccc;
	height: 35px;
}
#footer p {
	text-align: right;
	margin: 0.5em;
	color: #232320;
}
#footer span  { font-weight: bold; }
#footer a:link, #footer a:visited, #footer a:active{
	color: #f90;
	text-decoration: none;
}
#footer a:hover { color: #232320; }


/* Divers
----------------------------------------------------------*/
.two-cols { position: static; }
.two-cols .col {
	width: 49%;
	margin-left: 1%;
	float: left;
	background-color: #F1F1E5;
}

.two-cols .col:first-child {
	width: 50%;
	margin-left: 0;
}

.three-cols { position: static; }
.three-cols .col {
	width: 32.3%;
	float: left;
	margin-left: 1%;
	background-color: #F1F1E5;
}
.three-cols .col:first-child {
	width: 33.3%;
	margin-left: 0;
}

.four-cols { position: static; }
.four-cols .col {
	width: 24%;
	float: left;
	margin-left: 1%;
}
.four-cols .col:first-child {
	width: 25%;
	margin-left: 0;
}

a.imgDisable {
	background: transparent url('../../../images/others/ico_desactiver.png') no-repeat 0 0;
	padding-left: 20px;
}
a.imgEnable {
	background: transparent url('../../../images/others/ico_activer.png') no-repeat 0 0;
	padding-left: 20px;
}

.ligneTitre { margin-bottom: 0; }
.ligneInfo { margin-top: 0; }

.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }
.justify { text-align: justify; }

.clearb { clear: both; }
.clearer {
	clear: both;
	width: 0;
	height: 0;
	line-height: 0;
}

ul.pagelinks>li {
      display: inline;
}
 
ul.pagelinks>li:before {
     content: ' | ';
}
 
ul.pagelinks>li.pagelinks-start:before {
      content: '';
}

table.downloads {
	width: 100%;
	border: none;
	margin: 0 0 0.8em 0;
	padding: 0;
}

table.donwloads th, table.donwloads td {
	margin: 0;
	padding: 3px 0.3em;
	border: none;
}
table.downloads th.download_name, table.downloads td.download_name {
	width: 30%;
	text-align: left;
}
table.downloads { text-align: center; }
table.downloads td.name { text-align: left; }
table.downloads td.dir { background: #aaa; text-align: left; font-weight: bold; }
table.downloads td.even { background: #eee; }
table.downloads td.odd { background: #fff; }

table.downloads_cat {
	width: 75%;
	border: none;
	margin: 0 0 0.8em 0;
	padding: 0;
}
table.downloads_cat th, table.downloads_cat td {
	margin: 0;
	padding: 3px 0.3em;
	border: none;
}
table.downloads_cat th.download_name, table.downloads_cat td.download_name {
	width: 30%;
	text-align: left;
}
table.downloads_cat { text-align: center; }
table.downloads_cat td.name { text-align: left; }
table.downloads_cat td.even { background: #eee; }
table.downloads_cat td.odd { background: #fff; }



/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}


/* Skin */

.ui-tabs-nav {
/*    list-style: none;
    margin: 0;
    padding: 0 0 0 3px;*/
	
	/*background-color:#ffffff;*/
	height:27px;
	margin:0;
	padding:0;
	display:block;
	font-weight: bold;

}

.ui-tabs-nav li {
	margin:0;
	padding:0;
	float:left;
	list-style-type:none;	
	background-color:#dedec1;


}
.ui-tabs-nav a, .ui-tabs-nav a span {
    float: left; /* fixes dir=ltr problem and other quirks IE */
}
.ui-tabs-nav abackup {

    margin: 5px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    background-position: 100% 0;
    text-decoration: none;
    white-space: nowrap; /* @ IE 6 */
    outline: 0; /* @ Firefox, prevent dotted border after click */    
	
}
.ui-tabs-nav a {	
	color:#4D5431;
	font-size:11px;
	text-decoration:none;	
	display:block;
	margin:0 3px 0 0;
	padding:6px 10px;
	border: 1px solid;
	border-color:#dedec1 #dedec1 #acac9c #dedec1;
	background: #dedec1;				
}
.ui-tabs-nav a:link, .ui-tabs-nav a:visited {
    color: #4D5431; 

}

.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
	color:#232320;
	background: #F1F1E5;
	border:1px solid;
	border-color:#acac9c #acac9c #F1F1E5 #acac9c;	
	
}

.ui-tabs-panel {
    border: 1px solid #dedec1;
    padding: 10px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}

table.teams {
	width: 100%;
	text-align: center;
}

#show, #teamRosterShow {
	background: transparent url('../../../images/others/magnifier_zoom_in.png') no-repeat 0 0;
	padding-left: 20px;
}

#hide, #teamRosterHide {
	background: transparent url('../../../images/others/magnifier_zoom_out.png') no-repeat 0 0;
	padding-left: 20px;
}


.war_draw {
	background-color: #bcedff;
}

.war_lost {
	background-color: #ff9b9b;
}

.war_win {
	background-color: #c7ffbc;
}

.war_show_details {
	background: transparent url('../../../images/others/magnifier_zoom_in.png') no-repeat 0 0;
	width:16px;
}

.two-cols-details { position: static; }
.two-cols-details .col {
	width: 49%;
	margin-left: 1%;
	float: left;
	text-align: center;
}

.two-cols-details .col:first-child {
	width: 50%;
	margin-left: 0;
	text-align: center;
}

.head {
	font-size: 150%;
	font-weight: bold;
}

.label {
	font-weight: bold;
}

.score {
	text-align: center;
}

table {
	table-layout: fixed;
}