/**
* @package   havefnubb
* @subpackage havefnubb
* @author    FoxMaSk
* @copyright 2008 FoxMaSk
* @link      http://forge.jelix.org/projects/havefnubb
* @licence  http://www.gnu.org/licenses/lgpl.html GNU Lesser General Public Licence, see LICENCE file
*/

#hfnuportal_main {
	width: 100%;
	float: right;
	margin-left: -17em;
	background-color: #fff;
}

#hfnuportal_content {
	margin-left: 17em;
	padding: 0 1ex;
}
#hfnuportal_sidebar {
	width: 16em;
	float: left;
}
#hfnuportal_sidebar  h3{
    background-color:#e1e1cd;
    background-position:center;
	display:block;
	font-weight: bold;
    height: 35px;
    margin-top: 0;
    text-align: center;
    vertical-align: middle;
}
.clearer {
	clear: both;
	visibility: hidden;
}