<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="hfnusearch@havefnubb.org" name="hfnusearch" createdate="2009-02-08">
        <version date="2012-08-31">1.6.0</version>
        <label lang="en_US">HfnuSearch</label>
        <description lang="en_US">Search Engine Module</description>
        <label lang="fr_FR">HfnuSearch</label>
        <description lang="fr_FR">Module de recherche</description>
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU Lesser General Public Licence, see LICENCE file</license>
        <copyright>2008-2012 FoxMaSk</copyright>
        <creator name="FoxMaSk" email="foxmask@havefnubb.org" active="true"/>
        <homepageURL>http://www.havefnubb.org</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=hfnusearch</updateURL>
    </info>
    <dependencies>
        <jelix minversion="1.3" maxversion="1.3.*"/>
        <module name="jacl2db"/>
    </dependencies>
</module>
