<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
   <info id="downloads@projets.foxmask.info" name="downloads" createdate="">
	  <version stability="stable">1.2.0</version>
	  <label lang="fr_FR">Gestionnaire de Téléchargements</label>
	  <description lang="fr_FR"><![CDATA[Basiquement, ce module permet de mettre en téléchargement des fichiers.<br/>
	  Mais au delà de cela, il convient très bien à des sites hébergeant plusieurs projets.<br/>
	  En effet les auteurs de projets peuvent utiliser ce module pour mettre en téléchargement les nouvelles versions de leur création.<br/>
	  Chaque auteur peut décider d'autoriser des visiteurs à télécharger ses fichiers ou bien uniquement les membres de son site.<br/>
	  Il peut également permettre (ou non) de télécharger ses fichiers depuis un site distant.]]></description>
	  <label lang="en_EN">Downloads Manager</label>
	  <description lang="en_EN">This module permits to download files.</description>	   
	  <license URL="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GPL 2.0</license>    
	  <copyright>2008 foxmask</copyright>
	  <creator name="foxmask" email="foxmask@foxmask.info" active="true" />	   
	  <homepageURL>http://projets.foxmask.info</homepageURL>
	  <updateURL>http://projets.foxmask.info/checkupdate.php?module=downloads</updateURL>
   </info>
   <notes><![CDATA[
   voir le fichier INSTALL-1.2.0.html
	]]>
   </notes>   
    <dependencies>
        <jelix minversion="1.1.2" maxversion="1.1.2" />
    </dependencies>
</module>