/**
* @package   havefnubb
* @subpackage havefnubb
* @author    FoxMaSk
* @copyright 2008 FoxMaSk
* @link      http://havefnubb.org
* @licence  http://www.gnu.org/licenses/lgpl.html GNU Lesser General Public Licence, see LICENCE file
*/

#admin-message .jelix-msg li {
    padding:3px 19px;
    margin:0;
}

#admin-message .jelix-msg li.jelix-msg-item-warning {
    background-color: #F6B1B1;
    background-image: url(../images/exclamation.png);
	background-repeat: no-repeat;		
}
#admin-message .jelix-msg li.jelix-msg-item-error {
    background-color: #F6CAB1;
    background-image: url(../images/error.png);
	background-repeat: no-repeat;		
}

#admin-message .jelix-msg li.jelix-msg-item-ok,
#admin-message .jelix-msg li.jelix-msg-item-notice {
    background-color: #E5F6D4;
    background-image: url(../images/information.png);
	background-repeat: no-repeat;	
}


#hfnuadmin-general, #hfnuadmin-messages, #hfnuadmin-members, #hfnuadmin-timeout, #hfnuadmin-flood, #hfnuadmin-social-networks  {
    background-color:#eff4f6;
    border: 1px solid #B0C4CB;
}	
	
#hfnuadmin-general fieldset, #hfnuadmin-messages fieldset, #hfnuadmin-members  fieldset, #hfnuadmin-timeout fieldset, #hfnuadmin-flood fieldset, #hfnuadmin-social-networks fieldset  {
    background-color:#eff4f6;
    border: 1px solid #B0C4CB;
}	


#hfnuadmin-tasktodo {
    background-image: url(../images/admin/todos.png);
	background-repeat: no-repeat;	
}	
	
table.records-list thead th.records-list-forum-category {
	border: 1px solid #d7d7d7;
	border-bottom-color: #999;
	font-size: 11px;
	font-weight: bold;
	padding: 2px .5em;
	vertical-align: middle;
	text-align:left;
	color: #DD7070;
}

table.records-list thead th.records-list-forum-name,
table.records-list thead th.records-list-rank-name{
	width: 70%;
}
table.records-list thead th.records-list-forum-action,
table.records-list thead th.records-list-rank-limit, th.records-list-notify-date {	
	width: 20%
}

table.records-list thead th.records-list-forum-order,
table.records-list thead th.records-list-rank-action {
	width: 10%;
}

th.records-list-notify-forum {	
	width: 20%
}
th.records-list-notify-subject {	
	width: 20%
}
th.records-list-notify-author {	
	width: 20%
}
td.td-notify-message {
	text-align: right;
}
/* Tab */

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Skin */

.ui-tabs-nav {
	height:34px;
	margin:0;
	padding:0;
	display:block;
	font-weight: bold;
}

.ui-tabs-nav li {
	margin:0;
	padding:0;
	float:left;
	list-style-type:none;	
	background-color:#eff4f6;
}

.ui-tabs-nav a, .ui-tabs-nav a span {
    float: left; /* fixes dir=ltr problem and other quirks IE */
}

.ui-tabs-nav abackup {
    margin: 5px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    background-position: 100% 0;
    text-decoration: none;
    white-space: nowrap; /* @ IE 6 */
    outline: 0; /* @ Firefox, prevent dotted border after click */    
}

.ui-tabs-nav a {	
	color:#4D5431;
	font-size:11px;
	text-decoration:none;	
	display:block;
	margin:0 3px 0 0;
	padding:6px 10px;
	border: 1px solid;
	border-color:#B0C4CB;
	background: #eff4f6;	
}

.ui-tabs-nav a:link, .ui-tabs-nav a:visited {
    color: #4D5431; 
}

.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}

.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
	color:#232320;
	background: #D5E6EC;
	border:1px solid;
}

.ui-tabs-panel {
    border: 1px solid #eff4f6;
    padding: 10px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}

*:first-child+html .ui-tabs-nav  { /* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}

.jforms-submit, .jforms-reset {
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.jforms-submit, .jforms-reset {
	border: 1px solid;
	cursor: pointer;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	padding : 2px 2px;
	color:#232320;
	font-size:11px;
	text-decoration:none;
	font-weight: bold;
	background-color:#D5E6EC;	
}

#database {
	background-repeat: no-repeat;
    background-image: url(../images/admin/database.png);
	padding-left : 20px;
}
#environment {
	background-repeat: no-repeat;
    background-image: url(../images/admin/information.png);
	padding-left : 20px;
}
#php {
	background-repeat: no-repeat;
    background-image: url(../images/admin/php.png);
	padding-left : 20px;
}
#accelerator {
	background-repeat: no-repeat;
    background-image: url(../images/admin/accelerator.png);
	padding-left : 20px;
}
#user-online {
	background-repeat: no-repeat;
    background-image: url(../images/admin/user.png);
	padding-left : 20px;
}

.social-network li {
	list-style: none;
}
#social-network-twitter {
	background-image: url('../images/social-network/Twitter.png');
	background-repeat: no-repeat;
	height: 64px;
	padding-left: 45px;
}
#social-network-digg {
	background-image: url('../images/social-network/Digg.png');
	background-repeat: no-repeat;
	height: 64px;
	padding-left: 45px;
}
#social-network-delicious {
	background-image: url('../images/social-network/Delicious.png');
	background-repeat: no-repeat;
	height: 64px;
	padding-left: 45px;
}
#social-network-facebook {
	background-image: url('../images/social-network/Facebook.png');
	background-repeat: no-repeat;
	height: 64px;
	padding-left: 45px;
}
#social-network-netvibes {
	background-image: url('../images/social-network/Netvibes.png');
	background-repeat: no-repeat;
	height: 64px;
	padding-left: 45px;
}
#social-network-reddit {
	background-image: url('../images/social-network/Reddit.png');
	background-repeat: no-repeat;
	height: 64px;
	padding-left: 45px;
}

.themelist, .modulelist {
	width: 40%;
	float: left;
}

.themelist #current_theme {
	background-image: url('../images/rosette.png');
	background-repeat: no-repeat;
	height: 16px;
	padding-left: 20px;	
}