<?xml version="1.0" encoding="iso-8859-1"?>
<events xmlns="http://jelix.org/ns/events/1.0">
   <listener name="authhavefnubb">
      <event name="AuthLogin" />
      <event name="AuthNewUser" />
      <event name="jcommunity_save_account" />
   </listener>
   <listener name="hfnumenu">
      <event name="hfnuGetMenuContent" />
   </listener>
</events>