<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="hfnuthemes@havefnubb.org" name="HfnuThemes" createdate="2009-11-03">
        <version stability="stable" date="2010-01-25">1.3.3</version>
        <label lang="en_EN">hfnuthemes</label>
        <description lang="en_EN">Themes management</description>
        <label lang="fr_FR">hfnuthemes</label>
        <description lang="fr_FR">Gestionnaire de Thèmes</description>
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU Lesser General Public Licence, see LICENCE file</license>
        <copyright>2008 FoxMaSk</copyright>
        <creator name="FoxMaSk" email="foxmask@havefnubb.org" active="true" />
        <homepageURL>http://www.havefnubb.org</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=hfnuthemes</updateURL>
    </info>
    <dependencies>
        <jelix minversion="1.1.5" maxversion="1.1.5" />
    </dependencies>
</module>
