/* Contenu
----------------------------------------------------------*/
.first {
	margin-top: 0;
}
#downloads-title{
	text-align: center;
}
.downloads-headings {
    padding-top:1px;
    padding-bottom:8px;        
    padding-left: 20px;
    height: 30px;
    background-color:#baba9b;	
}
	
}
#downloads-content h2.table-title,
#downloads-content h3.table-title {
	margin: 0;
	padding: 0;
	border: none;
	width: auto;
	font-size: 1em;
}

#downloads-content img.icon { vertical-align: middle; }

dd {
	margin: 0 0 5px 14em; 
	padding: 3px;
}
dt {
	float: left; 
	width: 13em; 
	padding: 3px; 
	font-weight: bold;
}
dl {
	padding: 5px 0 10px 5px;
}

/* One Download 
----------------------------------------------------------*/
#downloads-downloadit {
	border: 1px dashed #ccc;
	padding: 0.5em;
	background-color: #f9f9f9;
	color: #333;	
}
#downloads-downloadit h3 {
	margin: 0;
	padding: 0;
	color: #333;
	border: none;
}

#downloads ul.pagelinks>li {
      display: inline;
}
 
#downloads ul.pagelinks>li:before {
     content: ' | ';
}
 
#downloads ul.pagelinks>li.pagelinks-start:before {
      content: '';
}

table.downloads {
	width: 100%;
	border: none;
	margin: 0 0 0.8em 0;
	padding: 0;
}

td.downloads-colleft {
	 width: 60%;
	 padding: 0.5em;
	 background-color: #c9c9a7;
}

td.downloads-colright {
	width: 22%;
	padding: 0.5em;
	background-color:#e1e1cd;	
}
td.downloads-colnum {
	text-align: right;
	padding: 10px;
	width: 6%;
	background-color: #c9c9a7;	
}