<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://jelix.org/ns/plugin/1.0">
    <info id="timeout@forge.jelix.org" name="timeout" createdate="2009-02-08">
        <version stability="pre-alpha" date="">0.1</version>
        <label lang="en_EN">timeout</label>
        <description lang="en_EN">Coord plugin to chek if a user is connected</description>
        <label lang="fr_FR">timeout</label>
        <description lang="fr_FR">Plugin Coord pour vérifier si un utilisateur est connecté</description>
        <licence URL="http://www.gnu.org/licenses/gpl.html">GNU General Public Licence</licence>
        <copyright>2008 FoxMaSk</copyright>
        <creator name="FoxMaSk" email="foxmask@foxmask.info" active="true" />
        <homepageURL>http://forge.jelix.org/projects/havefnubb</homepageURL>
        <updateURL>http://forge.jelix.org/projects/havefnubb/update.php?plugin=timeout</updateURL>
    </info>
    <dependencies>
        <jelix minversion="1.1.2" maxversion="1.1.2" />
    </dependencies>
</plugin>