/**
* @package   havefnubb
* @subpackage havefnubb
* @author    FoxMaSk
* @copyright 2008 FoxMaSk
* @link      http://forge.jelix.org/projects/havefnubb
* @licence  http://www.gnu.org/licenses/lgpl.html GNU Lesser General Public Licence, see LICENCE file
*/

/* login form */
#loginbox p {
	text-align: center;
	vertical-align: bottom;
}

#loginbox-links {
	text-align: center;
	padding: 15px;
    vertical-align: bottom;
}

#login-status {
	width: 30%;
	top: 3px;
	right: 30px;
	position: absolute;
	margin: auto;
	color: #EEE3C3;
    background-position:center;
    padding-left: 0px;
    padding-right:0px;
}

#login-status li {
    display:inline;
    padding:1px;
    list-style-type:none;
    list-style-position:outside;	
}

#login-status li a {
	color: #ffffff;
}
#login-status li a:hover {
	text-decoration: underline;
}
.user-formbg  {
	background-color:#d0c6a3;
}

/* search + list member page */
.member-filter-description {
	padding-left: 20px;
}
.themember, th.themember {
	background-image: url("../images/users/user_suit.png");
	background-repeat: no-repeat;
	background-position: left;
}	



/* profile - begin */
#profile {
	background-color: #d0c6a3;
}
#user-profile-general, #user-profile-messenger, #user-profile-hardware, #user-profile-pref {
    padding-top: 0px;    
}

#currently-online li, #online-today li {
	list-style-type:none;	
}

.user-image {
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 4px;			
}

#user {
	background-image: url("../images/users/user_edit.png");
    /* IE 7 begin */
	padding-bottom: 0px;
    /* IE 7 end */
}

#user-group {
	background-image: url("../images/users/group.png");
}

.user-name {
	background-image: url("../images/users/user.png");
	height: 16px;
}

.user-status-online {
	background-image: url("../images/users/online.png");
	height: 16px;
}

.user-status-offline {
	background-image: url("../images/users/offline.png");
	height: 16px;	
}

.user-status {
	display:none;
}

.user-town {
	background-image: url("../images/users/house.png");
	height: 16px;
}

.user-country {
	height: 16px;
	padding-left: 0px;
}

.user-birthday {
	background-image: url("../images/users/cake.png");
	height: 16px;
}

.user-location {
	background-image: url("../images/users/world.png");
	height: 16px;
}

.user-website {
	background-image: url("../images/users/world_link.png");
	height: 16px;
}

.user-email {
	background-image: url("../images/users/email.png");
	height: 16px;
}

.user-email-add {
	background-image: url("../images/users/email_add.png");
	height: 16px;	
}

.user-email-inbox {
	background-image: url("../images/users/email_inbox.png");
	height: 16px;	
}

.user-email-outbox {
	background-image: url("../images/users/email_outbox.png");
	height: 16px;	
}

.user-stats {
	background-image: url("../images/users/chart_bar.png");
	height: 16px;	
}
.user-mouse {
	background-image: url("../images/users/mouse.png");
}

.user-keyboard {
	background-image: url("../images/users/keyboard.png");
}

.user-connect {
	background-image: url("../images/users/connect.png");
}

.user-display {
	background-image: url("../images/users/display.png");
}

.user-processor {
	background-image: url("../images/users/computer.png");
}


.user-screen {
	background-image: url("../images/users/screen.png");
}

.user-motherboard {
	background-image: url("../images/users/motherboard.png");
}

.user-card {
	background-image: url("../images/users/computer.png");
}

.user-ram {
	background-image: url("../images/users/computer.png");
}

.user-os {
	background-image: url("../images/users/computer.png");
}

.user-xfire {
	background-image: url("../images/users/xfire.png");
}

.user-icq {
	background-image: url("../images/users/icq.gif");
}

.user-yim {
	background-image: url("../images/users/yim.gif");
}

.user-aim {
	background-image: url("../images/users/aim.gif");
}

.user-msn {
	background-image: url("../images/users/msn.gif");
}

.user-gtalk {
	background-image: url("../images/users/email_go.png");
}

.user-jabber {
	background-image: url("../images/users/email_go.png");
}

.user-since, th.user-since {
	background-image: url("../images/users/member_since.png");
	background-repeat: no-repeat;
	background-position: left;
}	

.user-rank, th.user-rank {
	background-image: url("../images/users/member_rank.png");
	background-repeat: no-repeat;
	background-position: left;
	height: 18px;
	padding-top: 4px;
	padding-left: 20px;
}	

.user-posts, th.user-posts {
	background-image: url("../images/users/member_posts.png");
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 18px;
	height: 20px;
}	
.user-private-message {
	background-image: url("../images/users/email.png");
	height: 16px;
}

.user-edit-password {
	background-image: url("../images/users/user_key.png");
	height: 16px;
}

.user-general {
	background-image: url("../images/users/user_suit.png");
	height: 16px;
}

.user-pref {
	background-image: url("../images/users/user_pref.png");
	height: 16px;
}

.user-messenger {
	background-image: url("../images/users/email_go.png");
	height: 16px;
}

.user-hw {
	background-image: url("../images/users/computer.png");
	height: 16px;
}

.user-language {
	background-image: url("../images/users/emoticon_tongue.png");
	height: 16px;
}

.user-signature {
	background-image: url("../images/users/vcard.png");
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 16px;
	padding-top: 5px;	
}

.user-show-email {
	background-image: url("../images/users/eye.png");
	height: 16px;
}

.user-currently-online li , .user-online-today li  {
    display:inline;
    padding:1px;
    list-style-type:none;
    list-style-position:outside;		
}
/* profile - end */


#user-profile-identity fieldset, #user-profile-pref fieldset, #user-profile-hardware fieldset {
	
	border-color: #d0c6a3;
}

#messenger-index, #messenger-list {
	padding-left: 20px;
	padding-right: 20px;	
}

.messenger-email-delete {
	background-image: url("../images/mail/email_delete.png");
	height: 16px;
	margin-left: 4px;
	
}

.messenger-email-answer {
	background-image: url("../images/mail/email_answer.png");
	height: 16px;
	margin-left: 4px;
}

#sendmail {
	padding-left: 20px;
}

#user-profile-menu {
	padding-top: 0px;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 1% 50%;
	cursor: default;
}

#user-profile-avatar {
	float: left;
}