/**
* @package   havefnubb
* @subpackage havefnubb
* @author    FoxMaSk
* @copyright 2008-2011 FoxMaSk
* @link      http://havefnubb.org
* @licence  http://www.gnu.org/licenses/lgpl.html GNU Lesser General Public Licence, see LICENCE file
*/


/* message */
.newmessage, .replymessage {
    text-align: right;
    margin-right: 10px;
    margin-top: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
    float: right;
}
.newmessage a, .replymessage a {
    text-decoration: none;
}
.pager-posts {
    text-align: left;
    margin-right: 10px;
    margin-top: 20px;
    padding-bottom: 4px;
    padding-left: 0px;
}

.formsubmit {
    padding-left: 20px;
}

.pagelinks {
    margin: 3px;
    -moz-border-radius:0px 0px 0px 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-radius:0px 0px 0px 0px;
}

.pagelinks li {
    list-style-type: none;
    font-size: medium;
    display:inline;
    padding:1px;
    list-style-position:outside;
    font-weight: normal;
}
li.pagelinks-current  {
    font-weight: bold;
}

.pagelinks-current:before {
    content : '[';
    font-weight: bold;
}
.pagelinks-current:after {
    content : ']';
    font-weight: bold;
}

/* posts form */

#post-message {}

#post-message .jelix-msg {
    background-color:#eff4f6;
    border: 1px solid #B0C4CB;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    list-style-type:none;
    margin:0;
    padding:0;
}

#post-message .jelix-msg li {
    padding:3px 19px;
    margin:0;
}

#post-message .jelix-msg li.jelix-msg-item-warning {
    background-color: #f8e794;
    background-image: url("../images/exclamation.png");
    background-repeat: no-repeat;
}
#post-message .jelix-msg li.jelix-msg-item-error {
    background-color: #F6CAB1;
    background-image: url("../images/error.png");
    background-repeat: no-repeat;
}

#post-message .jelix-msg li.jelix-msg-item-ok,
#post-message .jelix-msg li.jelix-msg-item-notice {
    background-color: #E5F6D4;
    background-image: url("../images/information.png");
    background-repeat: no-repeat;
}

#postadd {
    margin-left: 20px;
}
.posthead  {
    /*height: 35px;*/
}
.post-rates,.rates-result,#post-rates-msg {
    text-align: left;
}
.posthead-title {
    margin-left: 9em ;
    padding-left: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 0;
    margin-bottom: 0;
}

.posthead-date {
    margin-left: 16em ;
    padding-left: 12px;
    margin-top: 0;
    margin-bottom: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.posthead-tags {
    text-align: right;
    color: #fff;
    font-weight: bold;
    width: 50%;
    float: right;
    margin-top: -30px;
    padding-right: 10px;

}

.posthead-tags li {
    list-style: none;
    display:inline;
    padding-left:15px;
    list-style-type:none;
    list-style-position:outside;
    background-image: url("../images/posts/tag_green.png");
    background-color: transparent;
    background-repeat: no-repeat;
}

.posthead  .posthead-date {
    font-size: small;

}


.postbody .post-author {
   float: left;
   width: 15.5em;
   position: relative;
   display: inline;
   padding: 0 1em 0.5em 1.5em;
   overflow: hidden;

   border-right-style: dotted;
   border-color: #baba9b;
   border-right-width: thin;
}


.postbody .post-author ul{
    margin: 0;
    padding: 0 0 0.5em 0;
    list-style:  none;
}



.postbody .message-content {
    margin-left: 18em;
    padding-left : 12px;
    word-wrap: break-word;
}

.postbody .message-content blockquote {
    margin-left: 1em;
    padding-left : 33px;
    border: 1px solid;
    border-color:#f1f1e5 #acac9c #acac9c #f1f1e5;
    background-color: #e1e1cd;
}

.postbody .message-content ul li {
    list-style-type: circle;
}

.postbody .message-content ol li {
    list-style-type:  decimal;
}

.postbody .message-content pre {
    border-left: 3px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left-color: #8dc192;
    border-top-color: #8dc192;
    border-bottom-color: #acac9c;
    border-right-color: #acac9c;
    margin-right: 10px;
    background-color: #dedec1;
    word-wrap: break-word;
}

.postbody .message-content dl dt {
    font-weight: bold;
}

.postbody .message-content dl dd {
    font-family: cursive;
    font-style: italic;
}

.postbody .message-content acronym {
    border-bottom-style: groove;
}

.postbody .message-content code {
    font-family: monospace;
    background-color: #dedec1;
}

.postfoot {
    position: relative;
    padding: 0.5em;

    background-color: #e1e1cd;
    clear: both;
    text-align: right;
}

.postfoot a {

    padding: 2px;
    color:#4D5431;

    text-decoration:underline;
    text-align: center;
    font-size: 11px;
    background-color:#f1f1e5;

    cursor: pointer;
}

.post-actions a:hover,.post-actions a:focus,.post-actions a:active {

    cursor: pointer;
    color:#c40;
    padding : 2px 2px;
    background-color: #f1f1e5;
    text-align: left;
    font-size:11px;
    text-decoration:underline;

}
/* forum status */

.forumicone, .forumiconenew {
    text-align: center;
    padding: 8px;
    width: 3%;
    background-position: center;
}
.forumicone {
    background-image: url("../images/posts/folder.png");
    background-repeat: no-repeat;
}
.forumiconenew {
    background-image: url("../images/posts/folder_new.png");
    background-repeat: no-repeat;
}

/* posts status */
.colicone-closed, .colicone-opened,
.colicone-pined, .colicone-pinedclosed,
.colicone-post-new, .colicone-post-censored ,
.colicone-hidden, .colicone-pined_important,
.colicone-opened_important,
.colicone-censored,
.colicone-censored_important{
    text-align: center;
    padding: 8px;
    width: 3%;
    background-position: center;
}

.post-status-opened, .post-status-closed,
.post-status-pined, .post-status-pinedclosed,
.post-status-censored {
    display:none;
}

.post-status-icon-opened, .post-status-icon-closed,
.post-status-icon-pined, .post-status-icon-pinedclosed,
.post-status-icon-censored,.post-status-icon-hidden {
    background-position: left;
    padding-top: 0px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.colicone-opened, .post-status-icon-opened {
    background-image: url("../images/posts/opened.png");
    background-repeat: no-repeat;
}

.colicone-post-new {
    background-image: url("../images/posts/post_new.png");
    background-repeat: no-repeat;
}

.colicone-closed, .post-status-icon-closed {
    background-image: url('../images/posts/closed.png');
    background-repeat: no-repeat;
}

.colicone-pined, .post-status-icon-pined {
    background-image: url("../images/posts/pined.png");
    background-repeat: no-repeat;
}

.colicone-pinedclosed, .post-status-icon-pinedclosed {
    background-image: url("../images/posts/pined-closed.png");
    background-repeat: no-repeat;
}

.colicone-censored, .post-status-icon-censored {
    background-image: url("../images/posts/censored.png");
    background-position: center;
    background-repeat: no-repeat;
}

.colicone-opened_important,.colicone-closed_important,.colicone-pined_important,.colicone-pinedclosed_important {
    background-image: url("../images/posts/important.png");
    background-position: center;
    background-repeat: no-repeat;
}

.colicone-hidden, .post-status-icon-hidden {
    background-image: url("../images/posts/hidden.png");
    background-repeat: no-repeat;
}

.closed a:link, .closed a:visited, .closed a:active {
    text-decoration: underline;
    color: #a09898;
}

.closed a:hover {
    color: #f90;
    text-decoration: none;
}

#post-split-to {
    padding-left : 20px;
    padding-right : 20px;
}

.status-post-new {
    color: #E01D3A;
    font-weight: bold;
}

.status-opened {
    color: #543;
}

.status-closed {
    color: #a09898;
}

.status-hidden {
    color: #a7a7a7;
}

span.newestposts{
    display: none;
}
