<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jtags@sharecode" name="jtags">
        <version stability="stable">0.1.1</version>
        <label>jTags</label>
        <description/>
        <licence URL="http://www.gnu.org/licenses/gpl.html">GPL</licence>
        <copyright>Copyright 2008 Bastien Jaillot</copyright>
        <creator name="Bastien Jaillot" email="bastnicj@gmail.com" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
    </info>
    <dependencies>
        <jelix minversion="1.1" maxversion="1.2.*"/>
    </dependencies>
</module>
