<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="servinfo@havefnubb.org" name="servinfo" createdate="2009-02-06">
        <version date="2012-08-31">1.4</version>
        <label lang="en_US">ServInfo</label>
        <description lang="en_US">Display any data about the current server on which the module runs</description>
        <label lang="fr_FR">ServInfo</label>
        <description lang="fr_FR">Affichage des données propres au serveur où fonctionne ce module</description>
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU Lesser General Public Licence, see LICENCE file</license>
        <copyright>2008-2011 FoxMaSk</copyright>
        <creator name="FoxMaSk" email="foxmask@havefnubb.org" active="true"/>
        <homepageURL>http://www.havefnubb.org/</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=servinfo</updateURL>
    </info>
    <dependencies>
        <jelix minversion="1.4" maxversion="1.5.*"/>
        <module name="jacl2db" />
    </dependencies>
</module>
