<?xml version="1.0" encoding="iso-8859-1"?>
<events xmlns="http://jelix.org/ns/events/1.0">
    <listener name="hfnumasteradminmenu">
        <event name="masteradminGetMenuContent" />
        <event name="masterAdminGetDashboardWidget"/>
        <event name="masteradminGetInfoBoxContent"/>
    </listener>
    <listener name="hfnumanageuser">
         <event name="AuthNewUser" />
    </listener>
    <listener name="hfnuadmin">
         <event name="HfnuTaskTodo" />
    </listener>
</events>
