/**
* @package   havefnubb
* @subpackage havefnubb
* @author    FoxMaSk
* @copyright 2008-2011 FoxMaSk
* @link      http://havefnubb.org
* @licence  http://www.gnu.org/licenses/lgpl.html GNU Lesser General Public Licence, see LICENCE file
*/


/* search page */
#result {
    padding-top:1px;
    padding-bottom:1px;
    padding-left: 20px;
}

#result .result-author {
	color: #f90;	
}

#result .result-date {
	color: #f90;	
}

#result .result-msg {
	color: #666;
}

.result-line {
    background-color: #edead7;
}