body {
    background: #ccae7a;
    border-top: 5px solid #ccae7a;
    color: #333;
    font-size: 11px;
	font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}



hr {
    border-color: #a4885b;
}

a {
    color: #6b5f49;
    font-weight:bold;
    text-decoration: none;
}
a:hover {
    color:#cd9c18;
}
a:active:hover {
    color:#6b5f49;
    background-color:#cd9c18;
}

h1 a {
    font-weight:normal;
    color: #6b5f49;
}


fieldset {
    border:1px solid #c3b297;
    background:#edead7;
}
legend {
    background:#fff;
    border:1px solid #c3b297;
}

blockquote {
    border-left:4px solid #edead7;
}

/* table
----------------------------------------------- */
table {
    width:100%;
    border:1px solid #edead7;
    margin-bottom:10px;
}
th, td {
    padding:.2em 1em;
    text-align:left;
}
thead th {
    border-bottom:2px solid #ebedd1;
    background:#c3b297;
    padding:.4em 1em .2em;
}
tbody th,
tbody td {
    border-top:1px solid #c3b297;
    border-bottom:1px solid #c3b297;
    background:#edead7;
}
tbody tr.odd th,
tbody tr.odd td {
    background:#fff;
}
tfoot th,
tfoot td {
    border-top:2px solid #a4885b;
    background:#ebedd1;
}


/* navigation */

ul.nav {
  background:#a4885b;
}
ul.nav li a {
	color:#fff;
	background:#a4885b;
	font-weight:bold;
	text-decoration:none;
    border:0;
}
ul.nav li ul li a {
  font-weight:normal;
  color:#fff;
  border-top:1px solid #ccae7a;
  background:#ccae7a;
}

ul.nav li:hover a,
ul.nav li a:hover,
ul.nav li a:focus {color:#fff; background:#a4885b;}
ul.nav li a:active {color:#a4885b; background:#fff;}
ul.nav li ul,
ul.nav li {background:#ccc !important}
ul.nav li ul li a:hover { color:#fff;   background:#ccae7a; }
ul.nav li:hover a { color:#fff; background:#ccae7a; }
ul.nav li:hover ul li a {color:#fff;}
ul.nav li:hover ul li a:hover {color:#fff; background:#ccae7a;}
ul.nav li:hover a:active {background:#ccae7a;}
ul.nav li:hover ul li a:active {color:#fff; background:#222;}


ul.nav li.current a {color:#a4885b; background:#fff; cursor:default; font-weight:bold;}
ul.nav li.current ul,
ul.nav li.current {background:#ccc !important}
ul.nav li.current ul li a {color:#ccae7a; background:#ccc; font-weight:normal;}
ul.nav li.current ul li a:hover {color:#000; background:#fff;}
ul.nav li ul li.current a,
ul.nav li ul li.current a:hover,
ul.nav li.current:hover ul li a:active {color:#a4885b; background:#fff;}



/* buttons */
.buttons-bar a,
.jforms-submit,
.submit,
.jforms-reset {
    border:1px solid #a4885b;
    text-decoration: none;
    background-color:#a4885b;
    color:#fff;
}

.buttons-bar a:hover,
.jforms-submit:hover,
.submit:hover,
.jforms-reset:hover {
    background-color:#ccae7a;
    border:1px solid #a4885b;
}

.buttons-bar a:active:hover,
.jforms-submit:active:hover,
.submit:active:hover,
.jforms-reset:active:hover {
    background-color:#ccae7a;
    border:1px solid #a4885b;
}

/* breacrumb */
.breadcrumb ol {
    background-color:#d9c9a3;
}


.closed a:link,
.closed a:visited,
.closed a:active {
    text-decoration: underline;
    color: #a09898;
}

.closed a:hover {
    color: #f90;
    text-decoration: none;
}


span.newestposts{
    display: none;
}
.status-post-new {
    color: #E01D3A;
    font-weight: bold;
}


#header {
  background: #9A7C4C;
}
#branding h1 a {
  color: white;
}
#branding h1 a:hover {
  color:white;
}
#branding p {
  color: #EEEAC9;
}

#login-status {
    background: #9a7c4c;
    color: #fff;
}

#footer  {
    color:#fff;
    background:#a4885b;
}
#footer a {
    color:#fff;
}
#footer a:hover {
    color:#6b5f49;
}
