<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="hfnuinstall@forge.jelix.org" name="HfnuInstall" createdate="2009-02-08">
        <version stability="stable" date="2009-11-15">1.2.0</version>
        <label lang="en_EN">HfnuInstall</label>
        <description lang="en_EN">install module of bulletin board HaveFnuBB! </description>        
        <label lang="fr_FR">HfnuInstall</label>
        <description lang="fr_FR">module d'installation du forum HaveFnuBB!</description>
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU Lesser General Public Licence, see LICENCE file</license>
        <copyright>2008 FoxMaSk</copyright>
        <creator name="FoxMaSk" email="foxmask@havefnubb.org" active="true" />
        <homepageURL>http://www.havefnubb.org/</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=hfnuinstall</updateURL> 
    </info>
    <dependencies>
        <jelix minversion="1.1.4" maxversion="1.1.4" />
        <havefnubb minversion="1.2.0" maxversion="1.2.0" />
    </dependencies>
</module>