;<?php die('');?>

; tells if we need to display or not the marker of google analytics for each html action
; on = display marker for each action
;    except those who indicates it (action parameter googleanalytics.display_marker = false)
; off = do not display marker for each action
;    except those who indicates it (action parameter googleanalytics.display_marker = true)
display_marker = on

; if your site use SSL :
; urchin_js = "https://ssl.google-analytics.com/urchin.js"
urchin_js = "http://www.google-analytics.com/urchin.js"

; your uacct number
uacct = ""
