<?xml version="1.0" encoding="iso-8859-1"?>
<events xmlns="http://jelix.org/ns/events/1.0">
    <listener name="hook">
        <event name="hfbSampleBannerAnnouncement" />

        <event name="hfbBeforeCategoryList"/>
        <event name="hfbCategoryList"/>
        <event name="hfbAfterCategoryList"/>

        <event name="hfbBeforeForumIndex"/>
        <event name="hfbForumIndex"/>
        <event name="hfbAfterForumIndex"/>

        <event name="hfbBeforePostsEdit"/>
        <event name="hfbPostsEdit"/>
        <event name="hfbAfterPostsEdit"/>

        <event name="hfbBeforePostsList"/>
        <event name="hfbPostsList"/>
        <event name="hfbAfterPostsList"/>

        <event name="hfbBeforePostsReplies"/>
        <event name="hfbPostsReplies"/>
        <event name="hfbPostRepliesFooter"/>
        <event name="hfbAfterPostReplies"/>

        <event name="hfbBeforeStats"/>
        <event name="hfbStats"/>
        <event name="hfbAfterStats"/>

        <event name="ActiveUsersOnlineUsers"/>
        <event name="ActiveUsersOnlineToday"/>

        <event name="hfbBeforeFlood"/>
        <event name="hfbFlood"/>
        <event name="hfbAfterFlood"/>

        <event name="hfbBeforeMembersList"/>
        <event name="hfbMembersList"/>
        <event name="hfbAfterMembersList"/>

        <event name="hfbBeforeMemberProfile"/>
        <event name="hfbMemberProfile"/>
        <event name="hfbAfterMemberProfile"/>

        <event name="hfbBeforeSearch"/>
        <event name="hfbSearch"/>
        <event name="hfbAfterSearch"/>

        <event name="hfbBeforeBan"/>
        <event name="hfbBan"/>
        <event name="hfbAfterBan"/>

        <event name="hfbJcommunityStatusConnected"/>
        <event name="hfbMainInHeader"/>
        <event name="hfbMainInFooter"/>

        <event name="hfbAccountEditBefore"/>
        <event name="hfbAccountEditTab"/>
        <event name="hfbAccountEditDiv"/>
        <event name="hfbAccountEditAfter"/>

        <event name="hfbMenuBar"/>
    </listener>

</events>
