
.actif {
	color: #f90;
}

.jforms-submit, .jforms-reset {
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid;
	cursor: pointer;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	padding : 2px 2px;
	color:#4D5431;
	font-size:11px;
	text-decoration:none;
	font-weight: bold;
	background-color:#e1e1cd;	
}


/* Pied de page
----------------------------------------------------------*/
#footer {
	width: 100%;
	position: relative;
	margin-top: 20px;
    background-color:#f1f1e5;
    background-position:center;
    height: 34px;
    padding-top: 1px;
    padding-left:0px;
    padding-right:0px;
    -moz-border-radius:10px 10px 0px  0px ;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px; 
    border-radius:10px 10px 0px  0px ;
    -moz-box-shadow: gray 3px 5px 5px 0px;
    -webkit-box-shadow: gray 3px 5px 5px 0px;
    box-shadow: gray 0px 3px 5px 0px;
    z-index:50;

}
#footer p {
	text-align: center;
}
#footer span  { font-weight: bold; }
#footer a:link, #footer a:visited, #footer a:active{
	color: #f90;
	text-decoration: none;
}
#footer a:hover { color: #232320; }

 .jelix-msg li {
    list-style: none;
    padding:3px 19px;
    margin:0;
    background-repeat: no-repeat;
}
.jelix-msg li.jelix-msg-item-ok {
    background-color: #e5f6d4;
    /*background-image: url(../images/information.png);*/
}
.jelix-msg li.jelix-msg-item-notice {
    background-color: #FEFFE8;
    background-image: url(../images/information.png);
}
.jelix-msg li.jelix-msg-item-warning {
    background-color: #f8e794;
    background-image: url(../images/exclamation.png);
}
.jelix-msg li.jelix-msg-item-error {
    background-color: #f6cab1;
    background-image: url(../images/error.png);
}

.submit-next, .jforms-submit, .jforms-reset {
	border: 1px solid;
	cursor: pointer;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	padding : 2px 2px;
	color:#4D5431;
	font-size:11px;
	text-decoration:none;
	font-weight: bold;
	background-color:#e1e1cd;	
}