<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="modulesinfo@havefnubb.org" name="modulesinfo" createdate="2010-11-03">
        <version>1.0</version>
        <label lang="en_US">modulesinfo</label>
        <description lang="en_US">Show informations about installed modules</description>
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU General Public Licence, see LICENCE file</license>
        <copyright>2010 Laurent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
        <contributor name="Vincent Viaud" email="" active="true" since="2010-11-01" role="developer"/>
        <homepageURL>http://www.havefnubb.org/</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=modulesinfo</updateURL>
    </info>
    <dependencies>
        <jelix minversion="1.4" maxversion="1.5.*"/>
    </dependencies>
</module>
