<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="servinfo@havefnubb.org" name="servinfo" createdate="2009-02-06">
        <version date="2019-09-05">2.0</version>
        <label lang="en_US">ServInfo</label>
        <description lang="en_US">Display system data about the current server</description>
        <label lang="fr_FR">ServInfo</label>
        <description lang="fr_FR">Affichage des données systèmes du serveur</description>
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU Lesser General Public Licence, see LICENCE file</license>
        <copyright>2008-2011 FoxMaSk, 2019 Laurent Jouanneau</copyright>
        <creator name="FoxMaSk" email="foxmask@foxmask.net"/>
        <contributor name="Laurent Jouanneau"
        <homepageURL>https://havefnubb.jelix.org/</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.6.*" maxversion="1.7.*"/>
        <module name="jacl2db" />
    </dependencies>
    <autoload>
        <psr4 name="HavefnuBB\ServerInfos" dir="lib/"/>
    </autoload>
</module>
