<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="activeusers_admin@havefnubb.org" name="activeusers_admin" createdate="2010-11-05">
        <version>1.0</version>
        <label lang="en_US">activeusers_admin</label>
        <description lang="en_US" />
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU Lesser General Public Licence, see LICENCE file</license>
        <copyright>2010 Laurent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://www.havefnubb.org/</homepageURL>
        <updateURL>http://www.havefnubb.org/update.php?module=activeusers_admin</updateURL>
    </info>
    <dependencies>
        <jelix minversion="1.3" maxversion="1.3.*"/>
    </dependencies>
</module>
