
/* anchors
----------------------------------------------- */

td a {
    color:#657D4C;
}
td a:hover {
    color:#fff;
}
/* input
----------------------------------------------- */
input.jforms-required, textarea.jforms-required {
    border-color:#657D4C;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
select.jforms-ctrl-menulist:focus,input.jforms-required:focus,textarea.jforms-required:focus {
    border-color:#657D4C;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
select.jforms-ctrl-menulist:hover,input.jforms-required:hover,textarea.jforms-required:hover {
    border-color:#E8B661;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
select {
    background-color: #657D4C;
    color: #fff;
}
/* 960 grid system container background
----------------------------------------------- */
.container_12,
.container_16 {
    margin-top: 10px;
    background:#fff;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}

/* boxes
----------------------------------------------- */
.box {
    background:#EDF28C;
    margin-bottom:20px;
    padding:10px 10px 1px 10px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
.box h2 {
    font-size:1em;
    font-weight:normal;
    text-transform:uppercase;
    color:#fff;
    background:#70C933;
    margin:-10px -10px 0 -10px;
    padding:6px 12px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
.box h2 a,
.box h2 a.visible {
    color:#fff;
    background:#70C933;
    display:block;
    padding:6px 12px;
    margin:-6px -12px;
    border:none;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
.grid_4 .box h2 a {
    background-position: 97% 50%;
}
.grid_5 .box h2 a {
    background-position: 98% 50%;
}
.grid_12 .box h2 a {
    background-position: 99% 50%;
}

.box h2 a:hover {
    background-color:#657D4C;
}

.box h3 {
    background-color:transparent;
}

.block {
    padding-top:10px;
    border: 1px solid #EDF28C;
    background-color: #EDF28C;
}
div.menu {
    padding:0;
}
div.menu h2 {
    margin:0;
}
div.menu .block {
    padding-top:0;
}


/* paragraphs, quotes and lists
----------------------------------------------- */
p {
    margin-bottom:1em;
}
blockquote {
    font-family: Georgia, 'Times New Roman', serif;
    font-size:1.2em;
    padding-left:1em;
    border-left:4px solid #657D4C;
}
blockquote cite {
    font-size:.9em;
}
ul, ol {
    padding-top:0;
}


/* menus
----------------------------------------------- */
ul.menu {
    list-style:none;
    border-top:1px solid #70C933;
}
ul.menu li {
    margin:0;
}
ul.menu li a {
    display:block;
    padding:4px 10px;
    border-bottom:1px solid #70C933;
}
ul.menu li a:hover {
    background:#657D4C;
}
ul.menu li a:active {
    background:#70C933;
}


/* submenus
----------------------------------------------- */
ul.menu ul {
    list-style:none;
    margin:0;
}
ul.menu ul li a {
    padding-left:30px;
}

/* table
----------------------------------------------- */
table {
    width:100%;
    margin-bottom:10px;
}
th, td {
    padding:.2em 1em;
    text-align:left;
}
thead th {
    background:#657D4C;
    color: #fff;
    padding:.4em 1em .2em;
}
tbody th,
tbody td {
    background: #EDF28C;
}
tbody tr.odd th,
tbody tr.odd td {
    background:#C1C62B;
}

tr {
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
tfoot th,
tfoot td {
    border-top:2px solid #E0513A;
    background:#da8f36;
}

/* forms
----------------------------------------------- */
form {
    overflow:hidden;
}
fieldset {
    border:1px solid #657D4C;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    padding:10px;
    position:relative;
    background:#EDF28C;
    margin-bottom:10px;
}
legend {
    font-size:1.1em;
    padding:.4em .8em;
    background:#fff;
    color: #657D4C;
    border:1px solid #bbb;
}
fieldset.login p {
    margin-bottom:1em;
    margin-top:0pt;
}
fieldset p label {
    width:98%;
}
fieldset p input {
    width:98%;
}
fieldset p select {
    width:99%;
}
fieldset.login p label {
    float:left;
    line-height:2em;
    margin-right:3%;
    text-align:right;
    width:32%;
}
fieldset.login p input {
    width:60%;
}
fieldset.login input.button {
    margin-left:35%;
}
form p.notice {
    font-weight:bold;
}
input.search.text {
    width:66%;
}
input.search.button {
    width:28%;
    margin-left:2%;
}


/* posts management */

#post-message {}

#post-message .jelix-msg {
    background-color:#eff4f6;
    border: 1px solid #B0C4CB;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    list-style-type:none;
    margin:0;
    padding:0;
    color: #657D4C;
}

#post-message .jelix-msg li {
    padding:3px 19px;
    margin:0;
}

#post-message .jelix-msg li.jelix-msg-item-warning {
    background-color: #f8e794;
    background-image: url("../images/exclamation.png");
    background-repeat: no-repeat;
}
#post-message .jelix-msg li.jelix-msg-item-error {
    background-color: #F6CAB1;
    background-image: url("../images/error.png");
    background-repeat: no-repeat;
}

#post-message .jelix-msg li.jelix-msg-item-ok,
#post-message .jelix-msg li.jelix-msg-item-notice {
    background-color: #E5F6D4;
    background-image: url("../images/information.png");
    background-repeat: no-repeat;
}

/* posts head */
.postheading {
    border-bottom: 1px solid #fff;
}
.postheading-tags li {
    list-style: none;
    display:inline;
    padding-left:15px;
    list-style-type:none;
    list-style-position:outside;
    background-image: url("../images/posts/tag_green.png");
    background-color: transparent;
    background-repeat: no-repeat;
}
/* posts  body */
.post-author ul {
    margin: 0;
    padding: 0 0 0.5em 0;
    list-style: none;
}

.postbody {
    background-color: #fff;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    word-wrap: break-word;
}

.postbody ul li {
    list-style-type: circle;
}

.postbody ol li {
    list-style-type:  decimal;
}

.postbody  pre {
    border-left: 3px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left-color: #f5f5f5;
    border-top-color: #f5f5f5;
    border-bottom-color: #eee;
    border-right-color: #eee;
    margin-right: 10px;
    background-color: #bbb;
    word-wrap: break-word;
}

.postbody dl dt {
    font-weight: bold;
}

.postbody dl dd {
    font-family: cursive;
    font-style: italic;
}

.postbody  acronym {
    border-bottom-style: groove;
}

.postbody code {
    font-family: monospace;
    background-color: #f5f5f5;
}
/* posts footer */
.postfoot {
    padding: 0.5em;
    margin: auto;
    background-color: #70C933;
    margin-top:-20px;
    line-height:1.2em; margin-bottom:.3em;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}

/* anchor that emulates button */
.fake-button-left{
    text-align: left;
}

.fake-button{
    text-align: right;
}
.fake-button a, .fake-button-left a , .jforms-submit, .submit, .jforms-reset {
    background: -moz-linear-gradient(center top , #70C933, #70C933 40%, #70C933 60%, #70C933) repeat scroll 0 0 #70C933;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    border:1px solid #70C933;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    text-decoration: none;
    color:#fff;
    padding: 2px;
    cursor: pointer;
}

.fake-button a:hover, .fake-button-left a:hover, .jforms-submit:hover, .submit:hover, .jforms-reset:hover {
    border:1px solid #657D4C;
    background: -moz-linear-gradient(center top , #657D4C, #657D4C 40%, #657D4C 60%, #657D4C) repeat scroll 0 0 #657D4C;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    border:1px solid #657D4C;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    text-decoration: none;
    color:#fff;
    padding: 2px;
    cursor: pointer;

}

.fake-button a:active:hover, .fake-button-left a:active:hover, .jforms-submit:active:hover, .submit:active:hover, .jforms-reset:active:hover {
    border:1px solid #657D4C;
    background: -moz-linear-gradient(center top , #657D4C, #657D4C 40%, #657D4C 60%, #657D4C) repeat scroll 0 0 #657D4C;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    border:1px solid #657D4C;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    text-decoration: none;
    color:#fff;
    padding: 2px;
    cursor: pointer;
}

.fake-button a:active, .fake-button-left a:active, .jforms-submit:active, .submit:active, .jforms-reset:active {
    position:relative;
    top: 1px;
    left: 1px;
}

/* breadcrumb */
.breadcrumb ol {
    background-color:#1F271B;
}
.breadcrumb li {
    display:inline;
    list-style-type:none;

}


/* user profile */
.user-name {
    background-image: url("../images/users/user.png");
    height: 16px;
}

.user-status-online {
    background-image: url("../images/users/online.png");
    height: 16px;
}

.user-status-offline {
    background-image: url("../images/users/offline.png");
    height: 16px;
}

.user-status {
    display:none;
}

.user-town {
    background-image: url("../images/users/house.png");
    height: 16px;
}

.user-country {
    height: 16px;
    padding-left: 0px;
}

.user-birthday {
    background-image: url("../images/users/cake.png");
    height: 16px;
}

.user-location {
    background-image: url("../images/users/world.png");
    height: 16px;
}

.user-website {
    background-image: url("../images/users/world_link.png");
    height: 16px;
}

.user-email {
    background-image: url("../images/users/email.png");
    height: 16px;
}

.user-email-add {
    background-image: url("../images/users/email_add.png");
    height: 16px;
}

.user-email-inbox {
    background-image: url("../images/users/email_inbox.png");
    height: 16px;
}

.user-email-outbox {
    background-image: url("../images/users/email_outbox.png");
    height: 16px;
}

.user-stats {
    background-image: url("../images/users/chart_bar.png");
    height: 16px;
}
.user-mouse {
    background-image: url("../images/users/mouse.png");
}

.user-keyboard {
    background-image: url("../images/users/keyboard.png");
}

.user-connect {
    background-image: url("../images/users/connect.png");
}

.user-display {
    background-image: url("../images/users/display.png");
}

.user-processor {
    background-image: url("../images/users/computer.png");
}


.user-screen {
    background-image: url("../images/users/screen.png");
}

.user-motherboard {
    background-image: url("../images/users/motherboard.png");
}

.user-card {
    background-image: url("../images/users/computer.png");
}

.user-ram {
    background-image: url("../images/users/computer.png");
}

.user-os {
    background-image: url("../images/users/computer.png");
}

.user-xfire {
    background-image: url("../images/users/xfire.png");
}

.user-icq {
    background-image: url("../images/users/icq.gif");
}

.user-yim {
    background-image: url("../images/users/yim.gif");
}

.user-aim {
    background-image: url("../images/users/aim.gif");
}

.user-msn {
    background-image: url("../images/users/msn.gif");
}

.user-gtalk {
    background-image: url("../images/users/email_go.png");
}

.user-jabber {
    background-image: url("../images/users/email_go.png");
}

.user-since, th.user-since {
    background-image: url("../images/users/member_since.png");
    background-repeat: no-repeat;
    background-position: left;
}

.user-rank, th.user-rank {
    background-image: url("../images/users/member_rank.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 18px;
    padding-top: 4px;
    padding-left: 20px;
}

.user-posts, th.user-posts {
    background-image: url("../images/users/member_posts.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 18px;
    height: 20px;
}
.user-private-message {
    background-image: url("../images/users/email.png");
    height: 16px;
}

.user-edit-password {
    background-image: url("../images/users/user_key.png");
    height: 16px;
}

.user-general {
    background-image: url("../images/users/user_suit.png");
    height: 16px;
}

.user-pref {
    background-image: url("../images/users/user_pref.png");
    height: 16px;
}

.user-messenger {
    background-image: url("../images/users/email_go.png");
    height: 16px;
}

.user-hw {
    background-image: url("../images/users/computer.png");
    height: 16px;
}

.user-language {
    background-image: url("../images/users/emoticon_tongue.png");
    height: 16px;
}

.user-signature {
    background-image: url("../images/users/vcard.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 16px;
    padding-top: 5px;
}

.user-show-email {
    background-image: url("../images/users/eye.png");
    height: 16px;
}

.user-currently-online li , .user-online-today li  {
    display:inline;
    padding:1px;
    list-style-type:none;
    list-style-position:outside;
}

.user-image {
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 4px;
}

.messenger-email-delete {
    background-image: url("../images/mail/email_delete.png");
    height: 16px;
    margin-left: 4px;

}

.messenger-email-answer {
    background-image: url("../images/mail/email_answer.png");
    height: 16px;
    margin-left: 4px;
}


.form_row {
    padding: 10px 0;
}
.form_property, .form_value {float: left;}
.form_property {
    font-size: 1.1em;
    text-align: right;
    width: 180px;
}
.form_value {padding-left: 24px;}
.form_row_submit .form_value {padding-left: 132px;}

.pager-posts {
    text-align: right;
    padding-bottom: 10px;
}
.pager-posts ul {
    list-style: none;
    display:inline;
}

.pagelinks li a {
    color: white;
}

.pagelinks li.pagelinks-current {
    background: -moz-linear-gradient(center top , #657D4C, #657D4C 40%, #657D4C 60%, #657D4C) repeat scroll 0 0 #657D4C;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    color: white;
    display: inline-block;
    font-size: 0.8em;
    list-style: none outside none;
    margin-right: 4px;
    padding: 4px 10px;
    z-index: 100;
}

.pagelinks li {
    background: -moz-linear-gradient(center top , #70C933, #70C933 40%, #70C933 60%, #70C933) repeat scroll 0 0 #70C933;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    color: white;
    font-weight: bold;
    display: inline-block;
    font-size: 0.8em;
    list-style: none outside none;
    margin-right: 4px;
    padding: 4px 10px;
    z-index: 100;
}
.pagelinks li:hover {
    background: -moz-linear-gradient(center top , #657D4C, #657D4C 40%, #657D4C 60%, #657D4C) repeat scroll 0 0 #657D4C;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    color: white;
    font-weight: bold;
    display: inline-block;
    font-size: 0.8em;
    list-style: none outside none;
    margin-right: 4px;
    padding: 4px 10px;
    z-index: 100;

}


ol.history {
    list-style: none;
    background-color: #EDF28C;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    padding: 1px;
}

ol.history li {
    display:inline;
}
/* forum status */

.forumicone, .forumiconenew {
    text-align: center;
    padding: 5px;
    width: 3%;
    background-position: center;
}
.forumicone {
    background-image: url("../images/posts/folder.png");
    background-repeat: no-repeat;
}
.forumiconenew {
    background-image: url("../images/posts/folder_new.png");
    background-repeat: no-repeat;
}

/* posts status */
tr.odd > .colicone-closed,
tr.odd > .colicone-opened,
tr.odd > .colicone-pined,
tr.odd > .colicone-pinedclosed,
tr.odd > .colicone-post-new,
tr.odd > .colicone-censored
tr.odd > .colicone-opened_important,
tr.odd > .colicone-closed_important,
tr.odd > .colicone-pined_important,
tr.odd > .colicone-pinedclosed_important,
tr.odd > .colicone-hidden,
tr.even > td.colicone-closed,
tr.even > .colicone-opened,
tr.even > .colicone-pined,
tr.even > .colicone-pinedclosed,
tr.even > .colicone-post-new,
tr.even > .colicone-censored
tr.even > .colicone-opened_important,
tr.even > .colicone-closed_important,
tr.even > .colicone-pined_important,
tr.even > .colicone-pinedclosed_important,
tr.even > .colicone-hidden{
    text-align: center;
    padding: 5px;
    width: 4%;
    background-position: center;
}

.post-status-icon-opened,
.post-status-icon-closed,
.post-status-icon-pined,
.post-status-icon-pinedclosed,
.post-status-icon-censored,
.post-status-icon-hidden {
    background-position: left;
    padding-top: 0px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

tr.even > .colicone-opened,
tr.odd > .colicone-opened, .post-status-icon-opened {
    background-image: url("../images/posts/opened.png");
    background-repeat: no-repeat;
}

tr.odd > .colicone-post-new,
tr.even > .colicone-post-new {
    background-image: url("../images/posts/post_new.png");
    background-repeat: no-repeat;
}

tr.odd > .colicone-closed,
tr.even > .colicone-closed, .post-status-icon-closed {
    background-image: url("../images/posts/closed.png");
    background-repeat: no-repeat;
}

tr.odd > .colicone-pined,
tr.even > .colicone-pined, .post-status-icon-pined {
    background-image: url("../images/posts/pined.png");
    background-repeat: no-repeat;
}

tr.odd > .colicone-pinedclosed,
tr.even > .colicone-pinedclosed, .post-status-icon-pinedclosed {
    background-image: url("../images/posts/pined-closed.png");
    background-repeat: no-repeat;
}

tr.odd > .colicone-censored,
tr.even > .colicone-censored, .post-status-icon-censored {
    background-image: url("../images/posts/censored.png");
    background-position: center;
    background-repeat: no-repeat;
}

tr.odd > .colicone-opened_important,
tr.odd > .colicone-closed_important,
tr.odd > .colicone-pined_important,
tr.odd > .colicone-pinedclosed_important,
tr.even > .colicone-opened_important,
tr.even > .colicone-closed_important,
tr.even > .colicone-pined_important,
tr.even > .colicone-pinedclosed_important {
    background-image: url("../images/posts/important.png");
    background-position: center;
    background-repeat: no-repeat;
}

tr.odd > .colicone-hidden, .post-status-icon-hidden,
tr.even > .colicone-hidden {
    background-image: url("../images/posts/hidden.png");
    background-repeat: no-repeat;
}

tr.odd > .closed a:link,
tr.odd > .closed a:visited,
tr.odd > .closed a:active,
tr.even > .closed a:link,
tr.even > .closed a:visited,
tr.even > .closed a:active {
    text-decoration: underline;
    color: #a09898;
}

tr.odd > .closed a:hover,
tr.even > .closed a:hover {
    color: #f90;
    text-decoration: none;
}

#markasread {
    text-align: right;
    list-style-type: none;
}

span.newestposts{
    display: none;
}

.status-post-new {
    color: #E01D3A;
    font-weight: bold;
}

.status-opened {
    color: #657D4C;
}

.status-closed {
    color: #a09898;
}

.status-hidden {
    color: #a7a7a7;
}

.syntax_wiki {
    color: #657D4C;
}
