body {
    background: #E8B661;
    color: #000;
    font-size: 11px;
    font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a {
    color: #A3690D;
    font-weight:bold;
    text-decoration: none;
}
a:hover {
    color:#E8B661;
}

h1 a {
    color: #fff;
    font-weight:normal;
}

h1 a:hover {
    color:#E8B661;
}

fieldset {
    border:1px solid #657D4C;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    background:#EDF28C;
}
legend {
    background:#fff;
    color: #657D4C;
    border:1px solid #bbb;
}

blockquote {
    border-left:4px solid #657D4C;
}


/* table
----------------------------------------------- */
table {
    width:100%;
    margin-bottom:10px;
}
th, td {
    padding:.2em 1em;
    text-align:left;
}
thead th {
    background:#657D4C;
    color: #fff;
    padding:.4em 1em .2em;
}
tbody th,
tbody td {
    background: #EDF28C;
}
tbody tr.odd th,
tbody tr.odd td {
    background:#C1C62B;
}

tr {
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
tfoot th,
tfoot td {
    border-top:2px solid #E0513A;
    background:#da8f36;
}


/* navigation */

.nav {
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

ul.nav {
  background:#70C933;
}
ul.nav > li:first-child > a {
    color:#fff;
    background:#70C933;
    font-weight:bold;
    text-decoration:none;
    display:block;
    float:left;
    padding:0 1em;
    height:2.4em;
    line-height:2.5em;
    -webkit-border-radius:4px 0px 0px 4px;
    -o-border-radius:4px 0px 0px 4px;
    border-radius:4px 0px 0px 4px;
}
ul.nav li a {
    color:#fff;
    background:#70C933;
    font-weight:bold;
    text-decoration:none;
    border:0;
}
ul.nav li ul li a {
    font-weight:normal;
    color:#fff;
    border-top:1px solid #444;
    background:#70C933;
}


ul.nav li:hover a,
ul.nav li a:hover,
ul.nav li a:focus {color:#fff; background:#70C933;}
ul.nav li a:active {color:#70C933; background:#fff;}
ul.nav li ul,
ul.nav li {background:#ccc !important; border-top:0;}
ul.nav li ul li a:hover { color:#fff; background:#657D4C; }
ul.nav li:hover a { color:#fff; background:#657D4C; }
ul.nav li:hover ul li a {color:#fff;}
ul.nav li:hover ul li a:hover {color:#fff; background:#657D4C;}
ul.nav li:hover a:active {background:#70C933;}
ul.nav li:hover ul li a:active {color:#fff; background:#657D4C;}

ul.nav li.current a {color:#70C933; background:#fff; cursor:default; font-weight:bold;}
ul.nav li.current ul,
ul.nav li.current {background:#ccc !important}
ul.nav li.current ul li a {color:#444; background:#ccc; font-weight:normal;}
ul.nav li.current ul li a:hover {color:#000; background:#fff;}
ul.nav li ul li.current a,
ul.nav li ul li.current a:hover,
ul.nav li.current:hover ul li a:active {color:#70C933; background:#fff;}



/* buttons */
.buttons-bar a,
.jforms-submit,
.submit,
.jforms-reset {
    background: -moz-linear-gradient(center top , #70C933, #70C933 40%, #70C933 60%, #70C933) repeat scroll 0 0 #70C933;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    border:1px solid #70C933;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}

.buttons-bar a:hover,
.jforms-submit:hover,
.submit:hover,
.jforms-reset:hover {
    border:1px solid #657D4C;
    background: -moz-linear-gradient(center top , #657D4C, #657D4C 40%, #657D4C 60%, #657D4C) repeat scroll 0 0 #657D4C;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    border:1px solid #657D4C;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    text-decoration: none;
    color:#fff;
}

.buttons-bar a:active:hover,
.jforms-submit:active:hover,
.submit:active:hover,
.jforms-reset:active:hover {
    border:1px solid #657D4C;
    background: -moz-linear-gradient(center top , #657D4C, #657D4C 40%, #657D4C 60%, #657D4C) repeat scroll 0 0 #657D4C;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    border:1px solid #657D4C;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    text-decoration: none;
    color:#fff;
}


/* page links list */
.pager-posts { padding-bottom: 10px; }
.pagelinks li a { color: white; }

.pagelinks li.pagelinks-current {
    background: -moz-linear-gradient(center top , #657D4C, #657D4C 40%, #657D4C 60%, #657D4C) repeat scroll 0 0 #657D4C;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    color: white;
    display: inline-block;
    font-size: 0.8em;
    list-style: none outside none;
    margin-right: 4px;
    padding: 4px 10px;
    z-index: 100;
}

.pagelinks li {
    background: -moz-linear-gradient(center top , #70C933, #70C933 40%, #70C933 60%, #70C933) repeat scroll 0 0 #70C933;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    color: white;
    font-weight: bold;
    display: inline-block;
    font-size: 0.8em;
    list-style: none outside none;
    margin-right: 4px;
    padding: 4px 10px;
    z-index: 100;
}
.pagelinks li:hover {
    background: -moz-linear-gradient(center top , #657D4C, #657D4C 40%, #657D4C 60%, #657D4C) repeat scroll 0 0 #657D4C;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 3px 3px 8px 0 #999999;
    color: white;
    font-weight: bold;
    display: inline-block;
    font-size: 0.8em;
    list-style: none outside none;
    margin-right: 4px;
    padding: 4px 10px;
    z-index: 100;

}

/* breadcrumb */
.breadcrumb ol {
    background-color:#1F271B;
}

ol.history {
    background-color: #EDF28C;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    padding: 1px;
}


.closed a:link,
.closed a:visited,
.closed a:active {
    text-decoration: underline;
    color: #a09898;
}


.closed a:hover {
    color: #f90;
    text-decoration: none;
}

span.newestposts{
    display: none;
}

.status-post-new {
    color: #E01D3A;
    font-weight: bold;
}

.status-opened {
    color: #657D4C;
}

.status-closed {
    color: #a09898;
}

.status-hidden {
    color: #a7a7a7;
}

.syntax_wiki {
    color: #657D4C;
}



/* posts management */

#post-message .jelix-msg {
    color: #657D4C;
}

#container, .ui-tabs-panel,
#user-profile-general,
#user-profile-pref,
#user-profile-messenger,
#user-profile-hardware,
#user-profile-subscription,
#user-profile-jmessenger {
    background-color: #EDF28C;
    border: 1px solid  #EDF28C;
}

#page {
    margin-top:10px;
    padding:10px;
    background:#fff;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    -moz-border-radius:4px;
}

#header {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius:4px 4px 0px 0px;
  -o-border-radius:4px 4px 0px 0px;
  background:#657D4C;
}
#branding p {
  color:#E4ED91;
}
#login-status h2 {
    font-size: 1.4em;
}

#login-status a {
   color: #fff;
}
#login-status a:hover {
    color: #E8B661;
    background-color: transparent;
}
#login-status a:focus {
    color: #657D4C;
    background-color: transparent;
}

#footer {
  color:#fff;
  padding:8px;
  background:#657D4C;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
#footer a {
    color:#fff;
}
#footer a:hover {
    color:#000;
}
